<template>
  <div id="all-production-sum" style="height: 250px;width: 100%" />
</template>
<script>

var data = []; var now = new Date(); var value = Math.random() * 1000
export default {
  data() {
    return {
      randomdata: {
        name: '',
        value: [
        ]
      }
    }
  },
  mounted() {
    this.GetallProductionSumChart()
  },
  methods: {
    GetallProductionSumChart() {
      // const myChart = this.$echarts.init(this.$refs.TruckChart)
      var dom = document.getElementById('all-production-sum')
      var myChart = echarts.init(dom)

      var option

      const colors = ['#5AD8A6', '#4F7DDE']
      option = {
        color: colors,
        tooltip: {
          trigger: 'axis',
          formatter: function(params) {
            params = params[0]
            var date = new Date(params.name)
            return date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear() + ' : ' + params.value[1]
          },
          axisPointer: {
            animation: false
          }
        },
        legend: {
          left: 0,
          textStyle: {
            color: 'rgb(255,255,255)'
          }
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        xAxis: {
          type: 'time',
          axisLabel: {
            color: 'rgb(255,255,255)'
          },
          splitLine: {
            show: false
          }
        },
        yAxis: {
          type: 'value',
          axisLabel: {
            color: 'rgb(255,255,255)'
          },
          splitLine: {
            show: false
          }
        },
        series: [
          {
            name: '矿石',
            data: data,
            type: 'line',
            label: {
              show: true,
              color: 'rgb(255,255,255)'
            },
            markLine: {
              label: {
                show: true
              },
              silent: true,
              data: [
                {
                  yAxis: 2000,
                  lineStyle: {
                  }
                }
              ]
            }
          }
        ]
      }
      setInterval(function() {
        // data.shift();
        now = new Date(+now + 10000)
        value = value + Math.random() * 20
        this.randomdata = {
          name: now.toString(),
          value: [
            now,
            Math.round(value)
          ]
        }
        data.push(this.randomdata)
        myChart.setOption({
          series: [{
            data: data
          }]
        })
      }, 10000)

      if (option && typeof option === 'object') {
        myChart.setOption(option)
      }
    }

  }
}
</script>

<style>

</style>
