<template>
  <div class="weather"><span>{{ dateFormat(newDate) }}</span></div>
</template>
<script>
export default {
  data() {
    return {
      newDate: new Date() // 当前时间
    }
  },
  mounted() {
    // 显示时间
    const that = this
    this.timer = setInterval(function() {
      that.newDate = new Date().toLocaleDateString()
    })
  },
  methods: {
    dateFormat() { // 时间格式化
      var date = new Date()
      var year = date.getFullYear()
      //  在日期格式中，月份是从0开始的
      //  使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
      var month = date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1
      var day = date.getDate() < 10 ? '0' + date.getDate() : date.getDate()
      var hours = date.getHours() < 10 ? '0' + date.getHours() : date.getHours()
      var minutes = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()
      var seconds = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds()
      const week = date.getDay() // 星期
      const weekArr = ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六']
      // 拼接 时间格式处理
      return year + '年' + month + '月' + day + '日 ' + hours + ':' + minutes + ':' + seconds + ' ' + weekArr[week]
    }

  }

}
</script>
