<!-- 爆堆统计信息 -->
<template>
  <div id="pileSum" style="width: 100%; height: 100%" />
</template>

<script>

var chart = null
export default {
  props: {
    data: Object
  },
  mounted() {
    this.initChart()
  },
  methods: {
    initChart() {
    //   if (chart !== null && undefined !== chart) {
    //     chart.dispose()
    //   }
      var pileSum = document.getElementById('pileSum')
      //   var myChart = echarts.init(chartDom);
      chart = echarts.init(pileSum)
      this.setOptions()
    },
    setOptions() {
      const colors = ['#5AD8A6', '#4F7DDE']
      const option = {
        color: colors,
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'shadow'
          }
        },
        legend: {
          textStyle: {
            color: 'rgb(255,255,255)'
          }
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        xAxis: [
          {
            type: 'category',
            axisLabel: {
              color: 'rgb(255,255,255)'
            },
            data: this.data.pileNameList,
            textStyle: {
              color: '#000000'
            }
          }
        ],
        yAxis: [
          {
            type: 'value',
            axisLabel: {
              color: 'rgb(255,255,255)'
            },
            splitLine: {
              show: false
            }
          }
        ],
        series: [
          {
            name: '今日已开采矿石',
            type: 'bar',
            stack: 'Ad',
            emphasis: {
              focus: 'series'
            },
            label: {
              show: true,
              position: 'inside'
            },
            data: this.data.productionOreList
          },
          // {
          //   type: 'bar',
          //   stack: 'Ad',
          //   itemStyle: {
          //     color: 'rgba(0, 0, 0, 0.1)',
          //     borderWidth: 1,
          //     borderColor: '#5AD8A6'
          //   },
          //   emphasis: {
          //     focus: 'series'
          //   },
          //   label: {
          //     position: 'inside'
          //   },
          //   data: [120, 82, 91, 34, 90, 30]
          // },
          {
            name: '今日已开采废石',
            type: 'bar',
            stack: 'Ad',
            emphasis: {
              focus: 'series'
            },
            label: {
              show: true,
              position: 'inside'
            },
            data: this.data.productionRockList
          }
          // {
          //   type: 'bar',
          //   stack: 'Ad',
          //   itemStyle: {
          //     color: 'rgba(0, 0, 0, 0.1)',
          //     borderWidth: 1,
          //     borderColor: '#4F7DDE'
          //   },
          //   emphasis: {
          //     focus: 'series'
          //   },
          //   label: {
          //     position: 'inside'
          //   },
          //   data: [20, 82, 91, 24, 100, 30]
          // }
        ]
      }
      chart.setOption(option)
    }
  },
  watch: {
    data: {
      handler(newValue, oldValue) {
        if (oldValue !== newValue) {
          this.setOptions()
        }
      },
      deep: true
    }
  }
}
</script>
