<!-- 矿卡运输统计信息 -->
<template>
  <div id="truckSum" style="width: 100%; height: 90%" />
</template>

<script>

var chart = null
export default {
  props: {
    data: Object
  },
  mounted() {
    this.initChart()
  },
  methods: {
    initChart() {
    //   if (chart !== null && undefined !== chart) {
    //     chart.dispose()
    //   }
      var pileSum = document.getElementById('truckSum')
      //   var myChart = echarts.init(chartDom);
      chart = echarts.init(pileSum)
      this.setOptions()
    },
    setOptions() {
      const colors = ['#5AD8A6', '#4F7DDE']
      const option = {
        color: colors,
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'shadow'
          }
        },
        legend: {
          textStyle: {
            color: 'rgb(255,255,255)'
          },
          left: '2%'
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        xAxis: [
          {
            type: 'category',
            axisLabel: {
              color: 'rgb(255,255,255)'
            },
            data: this.data.truckNameList
          }
        ],
        yAxis: [
          {
            type: 'value',
            axisLabel: {
              color: 'rgb(255,255,255)'
            },
            splitLine: {
              show: false
            }
          }
        ],
        dataZoom: [{
          show: false,
          height: 10,
          xAxisIndex: [
            0
          ],
          bottom: 10,
          start: 0,
          end: 100,
          handleIcon: 'path://M306.1,413c0,2.2-1.8,4-4,4h-59.8c-2.2,0-4-1.8-4-4V200.8c0-2.2,1.8-4,4-4h59.8c2.2,0,4,1.8,4,4V413z',
          handleSize: '100%',
          handleStyle: {
            color: '#d3dee5'
          },
          textStyle: {
            color: '#fff' },
          borderColor: '#90979c'
        }, {
          type: 'inside',
          show: true,
          height: 15,
          start: 0,
          end: 100
        }],
        series: [
          {
            name: '矿石',
            type: 'bar',
            stack: 'Ad',
            emphasis: {
              focus: 'series'
            },
            label: {
              show: true,
              position: 'inside'
            },
            data: this.data.transportOreList
          },
          {
            name: '废石',
            type: 'bar',
            stack: 'Ad',
            emphasis: {
              focus: 'series'
            },
            label: {
              show: true,
              position: 'inside'
            },
            data: this.data.transportRockList
          }
        ]
      }
      chart.setOption(option)
    }
  },
  watch: {
    data: {
      handler(newValue, oldValue) {
        if (oldValue !== newValue) {
          this.setOptions()
        }
      },
      deep: true
    }
  }
}
</script>
