<!-- 矿卡设备状态饼状图 -->
<template>
  <div id="truckStates" style="width: 100%; height: 100%" />
</template>

<script>

var chart = null
export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    data: Object
  },
  mounted() {
    this.initChart()
  },
  methods: {
    initChart() {
    //   if (chart !== null && undefined !== chart) {
    //     chart.dispose()
    //   }
      var truckStates = document.getElementById('truckStates')
      //   var myChart = echarts.init(chartDom);
      chart = echarts.init(truckStates)
      this.setOptions()
    },
    setOptions() {
      const total = this.data.totalNum
      //   const colors = ['#ECA444', '#33A1DB', '#56B557']
      const piedata = {
        name: '矿卡信息',
        type: 'pie',
        radius: ['30%', '45%'],
        avoidLabelOverlap: false,
        itemStyle: {
          borderRadius: 4,
          borderColor: 'rgba(0,0,0,0)',
          borderWidth: 2
        },
        // color: colors,
        data: [
          {
            value: this.data.carryrockNum,
            name: '运岩',
            label: {
            //   shadowColor: colors[2]
            }
          },
          {
            value: this.data.carryoreNum,
            name: '运矿',
            label: {
            //   shadowColor: colors[0]
            }
          },
          {
            value: this.data.noloadNum,
            name: '空载',
            label: {
            //   shadowColor: colors[1]
            }
          },
          {
            value: this.data.freeNum,
            name: '空闲',
            label: {
            //   shadowColor: colors[1]
            }
          },
          {
            value: this.data.oilingNum,
            name: '加油',
            label: {
            //   shadowColor: colors[1]
            }
          },
          {
            value: this.data.repairNum,
            name: '维修',
            label: {
            //   shadowColor: colors[1]
            }
          },
          {
            value: this.data.queueNum,
            name: '装车排队',
            label: {
            //   shadowColor: colors[1]
            }
          },
          {
            value: this.data.loadingNum,
            name: '正在装车',
            label: {
            //   shadowColor: colors[1]
            }
          },
          {
            value: this.data.unloadingNum,
            name: '正在卸车',
            label: {
            //   shadowColor: colors[1]
            }
          }
        ]
      }
      const option = {
        title: {
          // zlevel: 0,
          text: ['{value|' + total + '}', '{name|总数}'].join('\n'),
          top: 'center',
          left: 'center',
          textStyle: {
            rich: {
              value: {
                color: '#ffffff',
                fontSize: 30,
                fontWeight: 'bold',
                lineHeight: 20
              },
              name: {
                color: '#ffffff',
                lineHeight: 20
              }
            }
          }
        },
        tooltip: {
          trigger: 'item',
          backgroundColor: 'rgba(0,0,0,.6)',
          borderColor: 'rgba(147, 235, 248, .8)',
          textStyle: {
            color: '#FFF'
          }
        },
        legend: {
          show: false,
          top: '5%',
          left: 'center'
        },
        series: [
          // 展示圆点
          {
            ...piedata,
            tooltip: { show: true },
            label: {
              formatter: '   {b|{b}}   \n   {c|{c}辆}  {per|{d}%}  ',
              //   position: "outside",
              rich: {
                b: {
                  color: '#fff',
                  fontSize: 18,
                  lineHeight: 26
                },
                c: {
                  color: '#31ABE3',
                  fontSize: 18
                },
                per: {
                  color: '#31ABE3',
                  fontSize: 18
                }
              }
            },
            labelLine: {
              length: 18, // 第一段线 长度
              length2: 18, // 第二段线 长度
              show: true,
              emphasis: {
                show: true
              }
            }
          },
          {
            ...piedata,
            tooltip: { show: true },
            itemStyle: {},
            label: {
              backgroundColor: 'auto', // 圆点颜色，auto：映射的系列色
              height: 0,
              width: 0,
              lineHeight: 0,
              borderRadius: 2.5,
              shadowBlur: 8,
              shadowColor: 'auto',
              padding: [2.5, -2.5, 2.5, -2.5]
            },
            labelLine: {
              length: 20, // 第一段线 长度
              length2: 36, // 第二段线 长度
              show: false
            }
          }
        ]
      }
      chart.setOption(option)
    }
  },
  watch: {
    data: {
      handler(newValue, oldValue) {
        if (oldValue !== newValue) {
          this.setOptions()
        }
      },
      deep: true
    }
  }
}
</script>
