<!-- <template>
  <div>洒水调度</div>
</template>

<script>
export default {};
</script>

<style>
</style> -->

<template>
  <div class="index-container">
    <el-row :gutter="20">
      <el-col :span="12">
        <forklift style="margin-bottom: 20px" />
        <el-card class="card" shadow="never" style="margin-top: 20px">
          <div slot="header">
            <span style="text-align: center"><h3>铲车司机需求列表</h3></span>
          </div>
          <el-scrollbar style="margin-top: 8px; width: 700px">
            <el-timeline :reverse="reverse" style="height: 300px">
              <el-timeline-item
                v-for="(activity, index) in activities"
                :key="index"
                :timestamp="activity.timestamp"
                :color="activity.color"
                placement="top"
              >
                <el-card style="margin-top: 5px">
                  <h4>{{ activity.content }}</h4>
                  <p>司机提交于{{ activity.timestamp }}</p>
                </el-card>
              </el-timeline-item>
            </el-timeline>
          </el-scrollbar>
          <el-button
            type="primary"
            style="margin-left: 45%; margin-top: 5px"
            @click="update"
          >添加</el-button>
        </el-card>
      </el-col>
      <el-col :span="12">
        <el-card shadow="hover" style="margin-top: 20px">
          <div class="tab-container">
            <el-tabs
              v-model="activeName"
              style="margin-top: 15px"
              type="border-card"
            >
              <el-tab-pane
                v-for="item in tabMapOptions"
                :key="item.key"
                :label="item.label"
                :name="item.key"
              >
                <keep-alive>
                  <tab-pane
                    v-if="activeName == item.key"
                    :type="item.key"
                    @create="showCreatedTimes"
                  />
                </keep-alive>
              </el-tab-pane>
            </el-tabs>
          </div>
        </el-card>
        <!-- <plan style="margin-top: 20px"></plan> -->
        <el-card
          shadow="hover"
          style="height: 182px; width: 100%; position: relative; margin-top: 20px;"
        >
          <h4 align="center">人工命令输入窗口</h4>
          <el-select
            v-model="equipValue"
            clearable
            placeholder="请选择调度设备"
            style="
              width: 200px;
              margin-right: 20px;
              margin-top: 10px;
              margin-bottom: 10px;
              position: absolute;
              left: 100px;
            "
          >
            <el-option
              v-for="item in equipOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
          <el-select
            v-model="destinationValue"
            clearable
            placeholder="请选择目的地"
            style="
              width: 200px;
              margin-top: 10px;
              position: absolute;
              right: 100px;
            "
          >
            <el-option
              v-for="item in destinationOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
          <el-button
            type="primary"
            style="
              margin: 0px 100px;
              align: center;
              position: absolute;
              left: 100px;
              bottom: 20px;
            "
          >确定</el-button>
          <el-button
            style="position: absolute; right: 150px; bottom: 20px"
          >取消</el-button>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
// import plan from "./component/plan.vue";
import forklift from './component/forklift.vue'
import TabPane from './component/TabPane.vue'
import { getList } from '@/api/changeLog'
export default {
  components: {
    // plan,
    TabPane,
    forklift
  },
  data() {
    return {
      reverse: true,
      activities: [],
      activitiesSub: [],
      equipOptions: [
        // {
        //   value: "选项1",
        //   label: "1#卡车",
        // },
        // {
        //   value: "选项2",
        //   label: "2#卡车",
        // },
        // {
        //   value: "选项3",
        //   label: "3#卡车",
        // },
        {
          value: '选项4',
          label: '1#铲车'
        },
        {
          value: '选项5',
          label: '2#铲车'
        },
        {
          value: '选项6',
          label: '3#铲车'
        }
      ],
      equipValue: '',
      destinationOptions: [
        {
          value: '选项1',
          label: '1#采矿点'
        },
        {
          value: '选项2',
          label: '2#采矿点'
        },
        {
          value: '选项3',
          label: '1#破碎站'
        },
        {
          value: '选项4',
          label: '2#破碎站'
        },
        {
          value: '选项5',
          label: '1#爆堆'
        },
        {
          value: '选项6',
          label: '2#爆堆'
        }
      ],
      destinationValue: '',
      tabMapOptions: [
        { label: '铲车', key: 'truck' }
        // { label: "铲车", key: "forklift" },
      ],
      activeName: 'truck',

      createdTimes: 0
    }
  },
  computed: {
    activities1() {
      this.activitiesSub = this.activities.splice(
        this.activities.length - 6,
        this.activities.length - 1
      )
      console.log(this.activitiesSub)
      return this.activitiesSub
    }
  },
  watch: {
    activeName(val) {
      this.$router.push(`${this.$route.path}?tab=${val}`)
    }
  },
  created() {
    this.fetchData()
    const tab = this.$route.query.tab
    if (tab) {
      this.activeName = tab
    }
  },
  beforeDestroy() {
    clearInterval(this.timer)
  },
  // mounted() {
  //   let base = +new Date(2020, 1, 1);
  //   let oneDay = 24 * 3600 * 1000;
  //   let date = [];

  //   let data = [Math.random() * 1500];
  //   let now = new Date(base);

  //   const addData = (shift) => {
  //     now = [now.getFullYear(), now.getMonth() + 1, now.getDate()].join("/");
  //     date.push(now);
  //     data.push(this.$baseLodash.random(20000, 60000));

  //     if (shift) {
  //       date.shift();
  //       data.shift();
  //     }

  //     now = new Date(+new Date(now) + oneDay);
  //   };

  //   for (let i = 1; i < 6; i++) {
  //     addData();
  //   }
  //   addData(true);
  //   this.fwl.xAxis[0].data = date;
  //   this.fwl.series[0].data = data;
  //   this.timer = setInterval(() => {
  //     addData(true);
  //     this.fwl.xAxis[0].data = date;
  //     this.fwl.series[0].data = data;
  //   }, 3000);
  // },
  methods: {
    showCreatedTimes() {
      this.createdTimes = this.createdTimes + 1
    },
    async fetchData() {
      const { data } = await getList()
      console.log(this.activities)
      data.data.map((item, index) => {
        if (index === data.length - 1) {
          item.color = '#0bbd87'
        }
      })
      this.activities = data.data1
      console.log(this.activities)
    },
    update() {
      this.activities.push({
        _id: '621ce37f3da49e0001b419b1',
        content: '5#铲车需要维修',
        timestamp: '18:00'
      })
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .el-timeline-item__timestamp.is-top {
  position: absolute;
  left: -60px;
  top: -1px;
  color: #333333;
}
::v-deep .el-timeline {
  padding-left: 150px;
}

.index-container {
  padding: 0 !important;
  margin: 0 !important;
  background: #f5f7f8 !important;

  ::v-deep {
    .el-alert {
      padding: $base-padding;

      &--info.is-light {
        min-height: 82px;
        padding: $base-padding;
        margin-bottom: 15px;
        color: #909399;
        background-color: $base-color-white;
        border: 1px solid #ebeef5;
      }
    }

    .el-card__body {
      .echarts {
        width: 100%;
        height: 115px;
      }
    }
  }

  .card {
    ::v-deep {
      .el-card__body {
        .echarts {
          width: 100%;
          height: 305px;
        }
      }
    }
  }

  .bottom {
    padding-top: 20px;
    margin-top: 5px;
    color: #595959;
    text-align: left;
    border-top: 1px solid $base-border-color;
  }

  .table {
    width: 100%;
    color: #666;
    border-collapse: collapse;
    background-color: #fff;

    td {
      position: relative;
      min-height: 20px;
      padding: 9px 15px;
      font-size: 14px;
      line-height: 20px;
      border: 1px solid #e6e6e6;

      &:nth-child(odd) {
        width: 20%;
        text-align: right;
        background-color: #f7f7f7;
      }
    }
  }

  .icon-panel {
    height: 117px;
    text-align: center;
    cursor: pointer;

    svg {
      font-size: 40px;
    }

    p {
      margin-top: 10px;
    }
  }

  .bottom-btn {
    button {
      margin: 5px 10px 15px 0;
    }
  }
}
</style>
