<template>
  <div style="justify-content : center;">
    <el-select
      v-model="equipValue"
      style="margin-right:5px;opacity: 0.6;color:#0B1647;width:30%"
      clearable
      placeholder="请选择调度设备"
    >
      <el-option
        v-for="item in equipOptions"
        :key="item.value"
        type="Info"
        :label="item.label"
        :value="item.value"
      />
    </el-select>
    <el-select
      v-model="destinationValue"
      style="margin-right:5px;opacity: 0.6;color:#0B1647;width:30%"
      clearable
      placeholder="请选择目的地"
    >
      <el-option
        v-for="item in destinationOptions"
        :key="item.value"
        :label="item.label"
        :value="item.value"
      />
    </el-select>
    <el-button
      type="primary"
      style="opacity: 0.6;"
    >确定</el-button>
    <el-button
      style="opacity: 0.6;"
    >取消</el-button>
  </div>
</template>
<script>
export default {
  data() {
    return {
      equipOptions: [
        {
          value: '选项1',
          label: '1#卡车'
        },
        {
          value: '选项2',
          label: '2#卡车'
        },
        {
          value: '选项3',
          label: '3#卡车'
        }
      ],
      equipValue: '',
      destinationOptions: [
        {
          value: '选项1',
          label: '1#采矿点'
        },
        {
          value: '选项2',
          label: '2#采矿点'
        },
        {
          value: '选项3',
          label: '1#破碎站'
        },
        {
          value: '选项4',
          label: '2#破碎站'
        },
        {
          value: '选项5',
          label: '1#爆堆'
        },
        {
          value: '选项6',
          label: '2#爆堆'
        }
      ],
      destinationValue: ''
    }
  },
  mounted() {
  },
  methods: {
  }
}
</script>

<style>

</style>
