<template>
  <div style="display: flex;">
    <div
      class="test"
      style="background-color: #9b9aa0; width: 100px;padding: 10px;">
      <div
        v-for="(item, index) in queuetruck"
        :key="index"
      >
        <div style="text-align: center">
          <img
            :src="item.queuetruckimg"
            alt=""
            width="60"
            height="30"
          >
          <h3 style="color: black">{{ item.queuetruckname }}</h3>
        </div>
      </div>
    </div>

    <!-- 铲车 -->
    <div
      style="
        background-color: #5f5e63;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
      "
    >
      <div>
        <img src="@/assets/Excavator.png" alt="" width="60" height="30" />
        <h3 style="color: black">{{ forklift.shovelName }}</h3>
      </div>
      <div style="width: 60px;">
        <h3>{{ forklift.shovelState }}</h3>
        <h3>{{ forklift.curPile }}</h3>
        <h3>{{ forklift.driverName }}</h3>
      </div>
    </div>

    <!-- 正在装车的矿卡 -->
    <div
      class="test"
      style="
        background-color: #9b9aa0;
        width: 100px;
        text-align: center;
      "
    >
      <div
        v-for="(item, index) in loadingtruck"
        :key="index"
      >
        <!-- <h3>2:22</h3> margin: 48px 25px 0px 14px;-->
        <div style="text-align: center;">
          <img
            :src="item.loadingtruckimg"
            alt=""
            width="60"
            height="30"
          >
          <h3 style="color: black">{{ item.loadingtruckname }}</h3>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'mid',
  props: ['queuetruck', 'forklift', 'loadingtruck'],
  mounted() {
  }
}
</script>

<style scoped>
.wrapper {
  width: 100%;
  display: flex;

  align-items: center;
  justify-content: center;
}
.test {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h3 {
  color: black;
}
</style>
