<template>
  <div class="wrapper">
    <div class="test">
      <div v-for="(item, index) in leftseries" :key="index" class="wrapper">
        <!-- 最左边起始位置 -->
        <div
          style="
            width: 80px;
            height: 60px;
            text-align: center;
            margin-right: 20px;
          "
        >
          <img :src="item.leftlocationimg" alt="" width="80" height="40">
          <p>{{ item.leftlocation }}</p>
        </div>

        <!-- imag和imagName通过offsetLeft获取位置，通过改变style.left 改变位置 -->
        <div style="position: relative">
          <div v-for="(ite, ind) in leftseries[index].lefttruck" :key="ind">
            <img
              id="mine"
              :src="ite.lefttruckimg"
              alt=""
              width="80"
              height="40"
              style="position: absolute; top: -30px;"
              :style="{left:(ite.curProgress*320 + 'px')}"
            >
            <!-- <img
              id="mine"
              :src="item.lefttruck[1].lefttruckimg"
              alt=""
              width="80"
              height="40"
              style="position: absolute; top: -30px;"
              :style="{left:(item.lefttruck[1].curProgress*320 + 'px')}"
            > -->
          </div>
          <div class="wrapper">
            <div class="singleArrow" />
            <!--画箭头直线-->
            <h3 style="margin-left: 20px; margin-right: 10px; width: 40px;">{{ shortestdiatance[index] + 'm'}}</h3>
            <!-- 此处需要判断哪辆车的距离最短！！！！！！！！！！！！ -->
          </div>
          <div v-for="(ite, ind) in leftseries[index].lefttruck" :key="ind">
            <h3
              id="lefttruckname"
              style="color: red; position: absolute; top: 10px"
              :style="{left:(ite.curProgress*320+20 + 'px')}"
            >
              {{ ite.lefttruckname }}
            </h3>
          </div>
          <!-- <h3
            id="lefttruckname"
            style="color: red; position: absolute; top: 10px"
            :style="{left:(item.lefttruck[1].curProgress*320+20 + 'px')}"
          >
            {{ item.lefttruck[1].lefttruckname }}
          </h3> -->
        </div>
      </div>
    </div>

    <!-- 中间排队矿卡、铲车、正在装车矿卡 -->
    <mid
      :forklift="forklift"
      :queuetruck="queuetruck"
      :loadingtruck="loadingtruck"
      style="margin-right: 20px"
    />

    <!-- 右边运矿、运岩矿卡、正在卸车矿卡、目的地 -->
    <div style="position: relative">
      <img
        src="@/assets/DumpTruck.png"
        alt=""
        width="80"
        height="40"
        style="position: absolute; top: -10px"
      >
      <div class="wrapper">
        <div class="singleArrow" />
        <!--画箭头直线-->
        <h3 style="margin-left: 30px; margin-right: 10px">2:33</h3>
        <div
          style="
            background-color: #909399;
            width: 80px;
            height: 60px;
            text-align: center;
          "
        >
          <img src="@/assets/DumpTruck.png" alt="" width="80" height="40">
          <p>5#3307</p>
        </div>
        <div style="width: 80px; height: 60px; text-align: center">
          <img src="@/assets/矿山.png" alt="" width="80" height="40">
          <p>新线双转子</p>
        </div>
      </div>
      <h3 style="color: red; position: absolute; top: 30px">5#3307</h3>
    </div>

  </div>
</template>

<script>
import mid from '@/views/dashboard/components/mid.vue'

export default {
  name: 'Dashboard',
  components: {
    mid
  },
  props: ['leftseries', 'forklift', 'queuetruck','loadingtruck'],
  data() {
    return {
      shortestdiatance: []
    }
  },
  mounted() {
    console.log('minePath leftseries')
    console.log(this.leftseries)
    this.getShortestdistance()
  },
  methods: {
    getShortestdistance() {
      for (let i = 0; i < this.leftseries.length; i++) {
        let mindistance = 1000000
        for (let j = 0; j < this.leftseries[i].lefttruck.length; j++) {
          mindistance = mindistance < this.leftseries[i].lefttruck[j].distanceNo ? mindistance : this.leftseries[i].lefttruck[j].distanceNo
        }
        this.shortestdiatance.push(mindistance)
      }
    }

  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  width: 100%;
  display: flex;

  align-items: center;
  justify-content: center;
}

.test {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 横线 */
.line {
  float: right;
  width: 100%;
  height: 1px;
  margin-top: -0.5em;
  background: #d4c4c4;
  position: relative;
  text-align: center;
}

.singleArrow {
  width: 400px;
  height: 2px;
  position: relative;
  background-color: black;
  /* transform: rotate(-40deg); */ /* 旋转角度 */
}
.singleArrow::after {
  content: "";
  display: block;
  position: absolute;
  right: -20px; /* 箭头位置 */
  top: -4px; /* 箭头位置 */
  border-top: 6px solid transparent; /* 箭头高低 */
  border-bottom: 6px solid transparent; /* 箭头高低 */
  border-left: 20px solid black; /* 箭头长度*/
}
</style>
