<template>
  <div class="my-slider">
    <div class="my-slider__tooltip" :style="style">
      <el-button
        class="my-slider__tooltip-wrapper"
        size="mini"
      >
        {{ slider }}
      </el-button>
    </div>
    <el-slider
      v-model="preference"
      range
      :max="1"
      :format-tooltip="(value) => `${value}${unit}`"
      :show-tooltip="false"
    />
  </div>
</template>

<script>
export default {
  name: 'MySlider',
  data() {
    return {
      preference: [0.33, 0.66]
    }
  },
  watch: {
    preference(newValue) {
      this.preference = newValue
    }
  },
  computed: {
    style() {
      const length = this.max - this.min
      const progress = this.slider - this.min
      const left = progress / length * 100
      return {
        paddingLeft: `${left}%`
      }
    }
  },
  methods: {
    input(value) {
      this.$emit('change', value)
    }
  }
}
</script>

<style lang="scss" scoped>
.my-slider {
  .my-slider__tooltip {
    text-align: left;
    .my-slider__tooltip-wrapper {
      height: 32px;
      transform: translateX(-50%);
      top: -50%;
    }
  }
}
</style>
