<template>
  <div class="my_table">
    <el-table :data="truckproduceData" row-key="title" height="800px" color="#0B1647">
      <el-table-column align="center" label="矿卡编号" prop="truckName" />
      <!-- <el-table-column width="20px" /> -->
      <el-table-column prop="startPoint" label="上一工作点" />
      <!-- <el-table-column label="当前进度">
        <template #default="{ row }">
          <el-progress :percentage="row.percentage" :color="row.color" />
        </template>
      </el-table-column> -->
      <el-table-column prop="endPoint" label="下一目的地" />
    </el-table>
  </div>
</template>
<script>
export default {
  props: {
    truckproduceData: []
  },
  data() {
    return {
    }
  },
  mounted() {
  }
}
</script>

<style>
.my_table >>> .el-table__row>td{
  /* 去除表格线 */
  border: none;
}
</style>
