// cover some element-ui styles

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}


// to fixed https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

// refine element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

// dropdown
.el-dropdown-menu {
  a {
    display: block
  }
}

// to fix el-date-picker css style
.el-range-separator {
  box-sizing: content-box;
}

/*最外层透明*/
.el-table, .el-table__expanded-cell{
  background-color: transparent !important;
}
/* 表格内背景颜色 */
.el-table th,
.el-table tr,
.el-table td {
  background-color: transparent !important;
}
.el-table::before {
  //去除底部白线 */
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0px; 
}  
.parent .el-table::before{
  background-color: transparent;
}
.cell{
  padding: 0;
  color:#fff;
}

/* 表格表头字体颜色 */
.el-table thead {
  color: #587DD6;
  font-weight: 500;
}

// .el-button span{
//   color:rgba(110,152,252,.9)!important; 
//   font-size: 24px;
// }

.text_tooltip{
  background-color: #fff;
}

