<template>
  <div style="background-color: #00013a;width: 100%;height: 100%;">
    <div class="head">
      <CurrentTime />
      <div class="linkbox">
        <!-- 框 -->
        <div class="border-box">
          <!-- <p>css实现科技感边框</p> -->
          <router-link
            style="line-height: 40px; font-size: 25px; text-align: center"
            :to="{ path: '/', component: () => import('@/views/2dMap/index') }"
          >生产调度子系统</router-link>
        </div>
      </div>
      <h1>矿卡调度子系统</h1>
    </div>
    <div
      style="
        position: absolute;
        background-color: #0b1546;
        top: 100px;
        left: 10px;
        width: 98vw;
      "
    >
      <el-cow>
        <div style="height: 30px">
          <span class="text-style">等待时间-品位偏差-运输能耗偏好：</span>
        </div>
      </el-cow>
      <el-row type="flex" class="row-bg" justify="space-between">
        <el-col :span="7">
          <div>
            <el-slider v-model="preference" range :step="0.01" :max="1" />
          </div>
        </el-col>
        <el-col :span="7">
          <div>
            <el-cow type="flex" class="row-bg">
              <el-col :span="5"><span class="text-style">高岭土含量</span></el-col>
              <el-col :span="3">
                <el-switch
                  v-model="changeIndexsData.kaolin"
                  active-color="#13ce66"
                  inactive-color="#ff4949"
                />
              </el-col>
              <el-col :span="5"><span class="text-style">粉矿含量</span></el-col>
              <el-col :span="3">
                <el-switch
                  v-model="changeIndexsData.fenkuang"
                  active-color="#13ce66"
                  inactive-color="#ff4949"
                />
              </el-col>
              <el-col :span="5"><span class="text-style">矿石硬度</span></el-col>
              <el-col :span="3">
                <el-switch
                  v-model="changeIndexsData.rockhardness"
                  active-color="#13ce66"
                  inactive-color="#ff4949"
                />
              </el-col>
            </el-cow>
          </div>
        </el-col>
        <el-col :span="5">
          <div>
            <el-button type="primary" class="button">开始调度</el-button>

            <el-button type="danger" class="button">结束调度</el-button>
          </div>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="20">

          <div style="text-align: center;background-color: rgba(255,255,255,0.9);height: 80vh;overflow:auto;">

            <div class="headsum">当前作业矿车数:10&emsp;&emsp;&emsp;作业铲装数:4</div>
            <minePath
              v-for="(item, index) in mineDatas"
              :key="index"
              :leftseries="item.leftseries"
              :queuetruck="item.singlequeue"
              :forklift="item.shovel"
              :loadingtruck="item.singleloading"
              style="margin-bottom: 20px"
            />
          </div>
        </el-col>
        <el-col :span="4" style="padding: 10px;">
          <TruckSchePlan
            :truckproduce-data="truckproduceData"
          />
        </el-col>
      </el-row>
    </div>

  </div>
</template>

<script>
import minePath from '@/views/dashboard/components/minePath.vue'
import slider from '@/views/dashboard/components/slider.vue'
import TruckSchePlan from '@/views/dashboard/components/TruckSchePlan.vue'
import pic from '@/assets/矿山.png'
import pic1 from '@/assets/矿山1.png'
import truckpic from '@/assets/DumpTruck.png'
import truckService from '@/api/truck.js'
export default {
  components: {
    minePath,
    slider,
    TruckSchePlan
  },
  data() {
    return {
      value: 50,
      changeIndexsData: {
        kaolin: true,
        fenkuang: true,
        rockhardness: true
      },
      preference: [0.2, 0.7],
      truckproduceData: [],
      truckoldData: [],
      truckstateData: {
        totalNum: 0, // 所有矿卡数量
        carryoreNum: 0, // 运矿数量
        carryrockNum: 0, // 运岩数量
        noloadNum: 0, // 空载
        freeNum: 0, // 空闲
        oilingNum: 0, // 加油
        repairNum: 0, // 维修
        queueNum: 0, // 装车排队
        loadingNum: 0, // 正在装车
        unloadingNum: 0 // 正在卸车
      },
      shovelproduceData: [],
      shovelcorrespondData: [
        {
          shovel: [],
          leftTruck: [], // 空载
          queueTruck: [], // 正在排队
          loadingTruck: [], // 正在装车
          rightTruck: [], // 运岩或运矿
          unloadingTruck: [] // 正在卸车
        }
      ],
      queueData: [],
      mineDatas: [
        {
          leftseries:
          [
            {
              leftlocationimg: pic,
              leftlocation: '新线双转子',
              lefttruck: [
                {
                  lefttruckname: '12#3307',
                  lefttruckimg: truckpic,
                  distanceNo: 100,
                  curProgress: 0.1
                },
                {
                  lefttruckname: '12#3308',
                  lefttruckimg: truckpic,
                  distanceNo: 101,
                  curProgress: 0.2
                },
                {
                  lefttruckname: '12#32',
                  lefttruckimg: truckpic,
                  distanceNo: 47,
                  curProgress: 0.5
                }
              ]
            },
            {
              leftlocationimg: pic1,
              leftlocation: '破碎站',
              lefttruck: [
                {
                  lefttruckname: '12#3309',
                  lefttruckimg: truckpic,
                  distanceNo: 102,
                  curProgress: 0.3
                },
                {
                  lefttruckname: '12#3310',
                  lefttruckimg: truckpic,
                  distanceNo: 103,
                  curProgress: 0.4
                }
              ]

            }
          ],
          singlequeue: [
            {
              queuetruckname: 'T01',
              queuetruckimg: truckpic
            },
            {
              queuetruckname: 'T02',
              queuetruckimg: truckpic
            },
            {
              queuetruckname: 'T03',
              queuetruckimg: truckpic
            },
            {
              queuetruckname: 'T04',
              queuetruckimg: truckpic
            },
            {
              queuetruckname: 'T05',
              queuetruckimg: truckpic
            }
          ],

          shovel: {
            shovelId: 1,
            shovelName: 'S06',
            driverId: 1,
            driverName: '王大壮',
            shovelState: '工作',
            curPile: 'F'
          },
          singleloading: [
            {
              loadingtruckname: 'T06',
              loadingtruckimg: truckpic
            }
          ]
        },
        // {
        //   leftseries: [
        //     {
        //       leftlocationimg: pic,
        //       leftlocation: '新线双转子',
        //       lefttruckname: '12#3307',
        //       lefttruckimg: truckpic,
        //       distanceNo: 102,
        //       curProgress: 0.3
        //     }
        //   ],
        //   shovel: {
        //     shovelId: 1,
        //     shovelName: 'S06',
        //     driverId: 1,
        //     driverName: '王大壮',
        //     shovelState: '工作',
        //     curPile: 'F'
        //   },
        //   singleloading: [
        //     {
        //       loadingtruckname: 'T07',
        //       loadingtruckimg: truckpic
        //     }
        //   ]
        // },
        // {
        //   leftseries: [
        //     {
        //       leftlocationimg: pic,
        //       leftlocation: '新线双转子',
        //       lefttruckname: '12#3307',
        //       lefttruckimg: truckpic,
        //       distanceNo: 1033,
        //       curProgress: 0.4
        //     },
        //     {
        //       leftlocationimg: pic1,
        //       leftlocation: 'A#破碎机',
        //       lefttruckname: '25#3307',
        //       lefttruckimg: truckpic,
        //       distanceNo: 104,
        //       curProgress: 1
        //     }
        //   ],
        //   shovel: {
        //     shovelId: 1,
        //     shovelName: 'S06',
        //     driverId: 1,
        //     driverName: '王大壮',
        //     shovelState: '工作',
        //     curPile: 'F'
        //   },
        //   singleloading: [
        //     {
        //       loadingtruckname: 'T08',
        //       loadingtruckimg: truckpic
        //     }
        //   ]
        // }
      ],

      timer: null
    }
  },
  created() {
    this.setTimer()
  },

  mounted() {
    this.startQueryData()
    this.getShovelcorrespondData()
    console.log('this.mineDatas[0].leftseries.lefttruck[0].lefttruckname')
    console.log(this.mineDatas[0].leftseries[0].lefttruck[0].lefttruckname)
  },
  // 销毁时清除计时器
  beforeDestroy: function() {
    if (this.timer) {
      clearInterval(this.timer)
    }
  },
  methods: {
    getShovelcorrespondData() { // 获取与该铲车相匹配的空载、装车排队、正在装车、运岩运矿和正在卸车状态的矿卡
      this.shovelcorrespondData = []
      for (let i = 0; i < this.shovelproduceData.length; i++) {
        const shovelcorrespond = {
          shovel: [],
          leftTruck: [],
          queueTruck: [],
          loadingTruck: [],
          rightTruck: [],
          unloadingTruck: []
        }
        shovelcorrespond.shovel.push(this.shovelproduceData[i])

        for (let n = 0; n < this.queueData[i].length; n++) {
          for (let k = 0; k < this.truckproduceData.length; k++) {
            if (this.queueData[i][n] === this.truckproduceData[k].truckId) {
              shovelcorrespond.queueTruck.push(this.truckproduceData[k])
            }
          }
        }

        for (let j = 0; j < this.truckproduceData.length; j++) {
          // 判断当矿卡上一起始点为该铲车且状态为正在卸车时，该矿卡为铲车最右边正在卸车窗口
          if (this.truckproduceData[j].truckState === '正在卸车' && this.shovelproduceData[i].curPile === this.truckproduceData[j].previousPoint) {
            shovelcorrespond.unloadingTruck.push(this.truckproduceData[j])
          }
          if (this.shovelproduceData[i].curPile === this.truckproduceData[j].endPoint || this.shovelproduceData[i].curPile === this.truckproduceData[j].startPoint) {
            if (this.shovelproduceData[i].curPile === this.truckproduceData[j].endPoint && this.truckproduceData[j].truckState === '空载') { // 判断当矿卡的目的地为铲车所在爆堆且空载时，为该铲车左边区域矿卡
              shovelcorrespond.leftTruck.push(this.truckproduceData[j])
            } else if (this.shovelproduceData[i].curPile === this.truckproduceData[j].startPoint) { // 当矿卡出发地为铲车所在爆堆时，有四种状态
              if (this.truckproduceData[j].truckState === '正在装车') {
                shovelcorrespond.loadingTruck.push(this.truckproduceData[j])
              } else if (this.truckproduceData[j].truckState === '运岩' || this.truckproduceData[j].truckState === '运矿') {
                shovelcorrespond.rightTruck.push(this.truckproduceData[j])
              }
            }
          }
        }
        this.shovelcorrespondData.push(shovelcorrespond)
        console.log('this.shovelcorrespondData')
        console.log(this.shovelcorrespondData)
      }
    },

    queryTruckproduce() {
      // const self = this
      truckService.getTruckproduce().then((res) => {
        if (!res.success) {
          console.log('错误' + res.info)
          console.log('Truckproduce错误')
          return
        }
        this.truckproduceData = res.data
        console.log('this.truckproduceData')
        console.log(this.truckproduceData)
        // self.setTruckproduceData(res.data)
      })
    },
    queryShovelproduce() {
      // const self = this
      truckService.getShovelproduce().then((res) => {
        if (!res.success) {
          console.log('错误' + res.info)
          console.log('Shovelproduce错误')
          return
        }
        this.shovelproduceData = res.data
        console.log('this.shovelproduceData')
        console.log(this.shovelproduceData)
        // self.setTruckproduceData(res.data)
      })
    },
    queryQueue() {
      // const self = this
      truckService.getQueue().then((res) => {
        if (!res.success) {
          console.log('错误' + res.info)
          console.log('Queue错误')
          return
        }
        this.queueData = res.data
        console.log('this.queueData')
        console.log(this.queueData)
        // self.setTruckproduceData(res.data)
      })
    },

    // setTruckproduceData(truckProduceListData) {
    //   let totalNum = 0
    //   let carryoreNum = 0
    //   let carryrockNum = 0
    //   let noloadNum = 0
    //   let freeNum = 0
    //   let oilingNum = 0
    //   let repairNum = 0
    //   let queueNum = 0
    //   let loadingNum = 0
    //   let unloadingNum = 0
    //   const truckIdList = []
    //   const truckNameList = []
    //   const truckLocationList = []
    //   const loadCapacityList = []
    //   const driverIdList = []
    //   const driverNameList = []
    //   const truckOilList = []
    //   const startPointList = []
    //   const endPointList = []
    //   const curProgressList = []
    //   const truckStateList = []
    //   const distanceNoList = []
    //   const truckGradeList = []
    //   const fineContentList = []
    //   const kaolinContentList = []
    //   const hardnessList = []
    //   const transportOreList = []
    //   const transportRockList = []

    //   truckProduceListData.forEach(item => {
    //     totalNum++
    //     if (item.truckState === '运矿')carryoreNum++
    //     else if (item.truckState === '运岩')carryrockNum++
    //     else if (item.truckState === '空载')noloadNum++
    //     else if (item.truckState === '空闲')freeNum++
    //     else if (item.truckState === '加油')oilingNum++
    //     else if (item.truckState === '维修')repairNum++
    //     else if (item.truckState === '装车排队')queueNum++
    //     else if (item.truckState === '正在装车')loadingNum++
    //     else if (item.truckState === '正在卸车')unloadingNum++
    //     truckIdList.push(item.truckId)
    //     truckNameList.push(item.truckName)
    //     truckLocationList.push(item.location)
    //     loadCapacityList.push(item.loadCapacity)
    //     driverIdList.push(item.driverId)
    //     driverNameList.push(item.driverName)
    //     truckOilList.push(item.truckOil)
    //     startPointList.push(item.startPoint)
    //     endPointList.push(item.endPoint)
    //     curProgressList.push(item.curProgress)
    //     truckStateList.push(item.truckState)
    //     distanceNoList.push(item.distanceNo)
    //     truckGradeList.push(item.truckGrade)
    //     fineContentList.push(item.fineContent)
    //     kaolinContentList.push(item.kaolinContent)
    //     hardnessList.push(item.hardness)
    //     transportOreList.push(item.transportOre)
    //     transportRockList.push(item.transportRock)
    //   })
    //   this.truckproduceData = {
    //     totalNum: totalNum,
    //     carryoreNum: carryoreNum,
    //     carryrockNum: carryrockNum,
    //     noloadNum: noloadNum,
    //     freeNum: freeNum,
    //     oilingNum: oilingNum,
    //     repairNum: repairNum,
    //     queueNum: queueNum,
    //     loadingNum: loadingNum,
    //     unloadingNum: unloadingNum,
    //     truckIdList: truckIdList,
    //     truckNameList: truckNameList,
    //     truckLocationList: truckLocationList,
    //     loadCapacityList: loadCapacityList,
    //     driverIdList: driverIdList,
    //     driverNameList: driverNameList,
    //     truckOilList: truckOilList,
    //     startPointList: startPointList,
    //     endPointList: endPointList,
    //     curProgressList: curProgressList,
    //     truckStateList: truckStateList,
    //     distanceNoList: distanceNoList,
    //     truckGradeList: truckGradeList,
    //     fineContentList: fineContentList,
    //     kaolinContentList: kaolinContentList,
    //     hardnessList: hardnessList,
    //     transportOreList: transportOreList,
    //     transportRockList: transportRockList
    //   }
    // },
    startQueryData() {
      this.queryTruckproduce()
      this.queryShovelproduce()
      this.queryQueue()
    },
    setTimer() {
      if (this.timer == null) {
        this.timer = setInterval(() => {
          this.startQueryData()
          this.getShovelcorrespondData()
          console.log('开始定时')
        }, 10000)
      }
    }

  }
}
</script>

<style scoped>
* {
  margin: 0;
  padding: 0;
}

#main {
  width: 100%;
  height: 100vh;
  background-color: #ccc;
  position: relative;

  overflow: hidden;
}
::v-deep.dv-scroll-board .rows .ceil {
  background-color: #0b1647;
  color: #ccc;
  padding-left: 0%;
}
.flex {
  display: flex;
  align-items: flex-start;
}
.flex2 {
  margin-left: auto;
}
.headsum {
  text-align: center;
  color: black;
  font-size: 30px;
  line-height: 70px;
}
.boxall {
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
  position: relative;
  margin-bottom: 10px;
  z-index: 10;
}
.alltitle {
  font-size: 24px;
  color: #fff;
  position: relative;
  padding-left: 12px;
  margin-bottom: 10px;
}
.head h1 {
  color: #fff;
  text-align: center;
  font-size: 42px;
  line-height: 90px;
}
.weather {
  position: absolute;
  right: 30px;
  top: 0;
  line-height: 70px;
}
.weather span {
  color: rgba(255, 255, 255, 0.9) !important;
  font-size: 24px;
}
.set {
  position: absolute;
  left: 30px;
  line-height: 70px;
  color: rgba(110, 152, 252, 0.9) !important;
  font-size: 24px;
}
.linkbox {
  position: absolute;
  right: 30px;
  top: 60px;
}
.button {
  width: 100px;
  height: 40px;
}

.el-col {
  border-radius: 4px;
}
.bg-purple {
  /* background: #d3dce6; */
}
.bg-purple-light {
  /* background: #e5e9f2; */
}
.grid-content {
  border-radius: 4px;
  min-height: 36px;
}
.row-bg {
  padding: 10px 0;
  /* background-color: #f9fafc; */
  line-height: 40px
}
.text-style {
  font-size: 20px;
  color:rgba(255, 255, 255, 0.9) !important;

}
</style>
