<template>
  <el-card shadow="hover">
    <template #header>
      <!-- <vab-icon icon="send-plane-2-line" /> -->
      <!-- 计划 -->
      <el-tag
        class="card-header-tag"
        type="info"
        effect="dark"
        style="margin-left: 45%"
      >
        铲车调度方案
      </el-tag>
    </template>
    <el-table :data="tableData" row-key="title" height="auto">
      <el-table-column align="center" label="铲车编号" width="100px" prop="id">
      </el-table-column>
      <!-- <el-table-column width="20px" /> -->
      <el-table-column prop="type" label="铲车型号" width="100px" />
      <el-table-column prop="blastId" label="工作爆堆编号" width="150px" />
      <!-- <el-table-column width="50px" /> -->
      <el-table-column prop="nextShovelPoint" label="下一走铲点编号" />
      <el-table-column prop="shovelSequence" label="走铲序列" />
      <el-table-column
        prop="typeArrive"
        label="即将服务的卡车型号以及到达时间"
      />
    </el-table>
  </el-card>
</template>
<script>
import Sortable from "sortablejs";
export default {
  data() {
    return {
      tableData: [
        {
          id: "1#铲车",
          type: "2m",
          blastId: "1#",
          nextShovelPoint: "6#",
          shovelSequence: "6#->7#->1#",
          typeArrive: "3#3:19",
          color: "#95de64",
        },
        {
          id: "1#铲车",
          type: "2m",
          blastId: "1#",
          nextShovelPoint: "6#",
          shovelSequence: "6#->7#->1#",
          typeArrive: "3#3:19",
          color: "#69c0ff",
        },
        {
          id: "1#铲车",
          type: "2m",
          blastId: "1#",
          nextShovelPoint: "6#",
          shovelSequence: "6#->7#->1#",
          typeArrive: "3#3:19",
          color: "#1890FF",
        },
      ],
    };
  },
  mounted() {
    const tbody = document.querySelector(".el-table__body-wrapper tbody");
    const _this = this;
    Sortable.create(tbody, {
      onEnd({ newIndex, oldIndex }) {
        const currRow = _this.tableData.splice(oldIndex, 1)[0];
        _this.tableData.splice(newIndex, 0, currRow);
      },
    });
  },
};
</script>
