<template>
  <div style="display: flex">
    <div style="background-color: #9b9aa0; width: 100px; height: 200px">
      <div v-if="show" style="margin: 70px 10px 0px 10px; text-align: center">
        <img src="@/assets/DumpTruck.png" alt="" width="60" height="30" />
        <h3 style="color: black">12#3307</h3>
      </div>
    </div>
    <div
      style="
        background-color: #5f5e63;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
      "
    >
      <div style="margin-right: 10px">
        <img src="@/assets/Excavator.png" alt="" width="60" height="30" />
        <h3 style="color: black">{{ forklift.id }}</h3>
      </div>
      <div>
        <h3>{{ forklift.workStates }}</h3>
        <h3>{{ forklift.transport }}</h3>
        <h3>{{ forklift.size }}</h3>
        <h3>{{ forklift.trips }}</h3>
        <h3>{{ forklift.number }}</h3>
        <h3>{{ forklift.attribute }}</h3>
      </div>
    </div>
    <div
      style="
        background-color: #9b9aa0;
        width: 100px;
        height: 200px;
        text-align: center;
      "
    >
      <h3>2:22</h3>
      <div style="margin: 48px 25px 0px 14px; text-align: center">
        <img src="@/assets/DumpTruck.png" alt="" width="60" height="30" />
        <h3 style="color: black">3#cat</h3>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "mid",
  props: ["forklift", "show"],
};
</script>

<style scoped>
h3 {
  color: black;
}
</style>
