<template>
  <div class="wrapper">
    <div class="test">
      <div v-for="(item, index) in mineData" :key="index" class="wrapper">
        <div
          style="
            width: 80px;
            height: 60px;
            text-align: center;
            margin-right: 20px;
          "
        >
          <img :src="item.img" alt="" width="80" height="40" />
          <p>{{ item.location }}</p>
        </div>
        <div style="position: relative">
          <img
            id="mine"
            src="@/assets/DumpTruck.png"
            alt=""
            width="80"
            height="40"
            style="position: absolute; top: -30px; left: 0px"
          />
          <div class="wrapper">
            <div class="singleArrow"></div>
            <!--画箭头直线-->
            <h3 style="margin-left: 30px; margin-right: 20px">1:44</h3>
          </div>
          <h3 id="imgName" style="color: red; position: absolute; top: 10px">
            {{ item.type }}
          </h3>
        </div>
      </div>
    </div>
    <mid
      :forklift="forklift"
      :show="this.$store.state.mid.show"
      style="margin-right: 20px"
    ></mid>
    <div style="position: relative">
      <img
        src="@/assets/DumpTruck.png"
        alt=""
        width="80"
        height="40"
        style="position: absolute; top: -10px"
      />
      <div class="wrapper">
        <div class="singleArrow"></div>
        <!--画箭头直线-->
        <h3 style="margin-left: 30px; margin-right: 10px">1:44</h3>
        <div
          style="
            background-color: #909399;
            width: 80px;
            height: 60px;
            text-align: center;
          "
        >
          <img src="@/assets/DumpTruck.png" alt="" width="80" height="40" />
          <p>5#3307</p>
        </div>
        <div style="width: 80px; height: 60px; text-align: center">
          <img src="@/assets/矿山.png" alt="" width="80" height="40" />
          <p>新线双转子</p>
        </div>
      </div>
      <h3 style="color: red; position: absolute; top: 30px">5#3307</h3>
    </div>
  </div>
</template>

<script>
import mid from "@/views/ProductionSchedule/vehicle/component/mid.vue";

export default {
  name: "Dashboard",
  props: ["mineData", "forklift"],
  data() {
    return {
      // mineData: [
      //   {
      //     img: pic,
      //     location: "新线双转子",
      //     type: "5#3307",
      //   },
      //   {
      //     img: pic1,
      //     location: "A#破碎机",
      //     type: "25#3307",
      //   },
      // ],
      // show: false,
    };
  },
  components: {
    mid,
  },
  mounted() {
    var img = document.getElementById("mine");
    var imgName = document.getElementById("imgName");
    console.log(this.$store.state.mid.show);
    var id = setInterval(() => {
      var x = img.offsetLeft;
      var y = imgName.offsetLeft;
      x += 1;
      y += 1;
      if (x >= 320) x = 0;
      if (y >= 320) {
        y = 0;
        this.$store.state.mid.show = true;
        console.log(this.show);
      }
      imgName.style.left = y + "px";
      img.style.left = x + "px";
    }, 200);
  },
};
</script>

<style lang="scss" scoped>
.wrapper {
  width: 100%;
  display: flex;

  align-items: center;
  justify-content: center;
}

.test {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 横线 */
.line {
  float: right;
  width: 100%;
  height: 1px;
  margin-top: -0.5em;
  background: #d4c4c4;
  position: relative;
  text-align: center;
}

.singleArrow {
  width: 400px;
  height: 2px;
  position: relative;
  background-color: #000000;
  /* transform: rotate(-40deg); */ /* 旋转角度 */
}
.singleArrow::after {
  content: "";
  display: block;
  position: absolute;
  right: -20px; /* 箭头位置 */
  top: -4px; /* 箭头位置 */
  border-top: 6px solid transparent; /* 箭头高低 */
  border-bottom: 6px solid transparent; /* 箭头高低 */
  border-left: 20px solid #000000; /* 箭头长度*/
}
</style>
