<template>
  <div style="background-color: #0B1647;">
    <div class="head">
      <CurrentTime />
      <h1>矿卡生产调度子系统</h1>
      <router-link
        to="    path: '/404',
    component: () => import('@/views/404')"
      >矿卡调度</router-link>
    </div>
    <div class="mainbox">
      <ul class="clearfix">
        <li>
          <div class="boxall" style="height:100px;padding-left: 10px;margin-bottom: 10px;">
            <div class="alltitle" style="margin-left:5px;margin-bottom:10px">人工调度</div>
            <ManualScheduling style="padding-right: 10px" />
          </div>
          <div class="boxall" style="height:500px;padding-left: 10px;">
            <div class="alltitle" style="margin-left:5px;margin-bottom:10px">矿卡信息</div>
            <TruckChart />
          </div>
        </li>
        <li>
          <!-- <div>二维地图编辑</div> -->
          <Map
            :path="path"
          />
        </li>
        <li>
          <div class="boxall" style="height:250px;background-color: #0B1647;">
            <div class="alltitle" style="margin-left:5px;margin-bottom:10px">矿卡司机需求列表</div>
            <DriverNeedList
              :data="demandListData"
            />
          </div>
          <div class="boxall" style="background-color: #0B1647;margin-top:40px">
            <div class="alltitle" style="margin-left:5px;margin-bottom:10px">矿卡调度方案</div>
            <TruckSchePlan />
          </div>
        </li>
      </ul>
    </div>

  </div>
</template>
<script>
import { getPath } from '@/api/moveCar.js'
import TruckSchePlan from './component/TruckSchePlan.vue'
import TruckChart from './component/TruckChart.vue'
import ManualScheduling from './component/ManualScheduling.vue'
import DriverNeedList from './component/DriverNeedList.vue'
import CurrentTime from './component/CurrentTime.vue'
import Map from './component/Map.vue'
import truckService from '@/api/truck.js'

export default {
  components: {
    TruckSchePlan,
    TruckChart,
    ManualScheduling,
    DriverNeedList,
    CurrentTime,
    Map
  },
  data() {
    return {
      demandListData: [],
      // dataList: '',
      // chart: null,
      path: []
    }
  },

  // watch: {
  //   dataList() {
  //     this.$nextTick(( )=>{

  //     })
  //   }

  // },
  created() {
    // this.path = this.fetchData()
    // console.log(1)
    // console.log(this.path)
  },

  mounted() {
    this.fetchData()
    this.queryDemand()
  },

  // 销毁时清除计时器
  beforeDestroy: function() {
    if (this.timer) {
      clearInterval(this.timer)
    }
  },
  methods: {
    queryDemand() {
      const self = this
      truckService.getDriversdemand().then((res) => {
        if (!res.success) {
          console.log('错误' + res.info)
          return
        }
        self.demandListData = res.data
      })
      // this.testgetData()
    },
    async testgetData() {
      const res = await truckService.getDriversdemand()
      this.demandListData = res.data
    },

    setDemandListData(demandListData) {
      const demandIdList = []
      const truckNameList = []
      const driverDemandList = []
      const handleState = []
      demandListData.forEach(item => {
        demandIdList.push(item.demand_id)
        truckNameList.push(item.truck_name)
        driverDemandList.push(item.driver_demand)
        handleState.push(item.handle_state)
      })
      this.demandListData = {
        demandIdList: demandIdList,
        truckNameList: truckNameList,
        driverDemandList: driverDemandList,
        handleState: handleState
      }
    },
    fetchData() {
      const self = this
      getPath().then((res) => {
        if (!res.success) {
          console.log('错误' + res.info)
          return
        }
        self.path = res.data
        // console.log(res.data)
      })
    }

  }
}
</script>
<style scoped>
* {
  margin: 0;
  padding: 0;
}

#main {
  width: 100%;
  height: 100vh;
  background-color: #ccc;
  position: relative;

  overflow: hidden;
}
::v-deep.dv-scroll-board .rows .ceil {
  background-color: #0B1647;
  color:#ccc;
  padding-left: 0%;
}
</style>
