<template>
  <div>
    <h1>当前作业矿车数:10&emsp;&emsp;&emsp;作业铲装数:4</h1>
    <minePath
      v-for="(item, index) in mineDatas"
      :key="index"
      :mine-data="item.plans"
      :forklift="item.forklifts"
      style="margin-bottom: 20px"
    />
  </div>
</template>

<script>
import minePath from '@/views/ProductionSchedule/vehicle/component/minePath.vue'
import pic from '@/assets/矿山.png'
import pic1 from '@/assets/矿山1.png'
export default {
  components: {
    minePath
  },
  data() {
    return {
      mineDatas: [
        {
          plans: [
            {
              img: pic,
              location: '新线双转子',
              type: '12#3307'
            },
            {
              img: pic1,
              location: 'A#破碎机',
              type: '25#3307'
            }
          ],
          forklifts: {
            id: '1#RH50',
            workStates: '作业',
            transport: '骨料',
            size: '中',
            trips: '27车',
            number: 'E:0/A:0',
            attribute: '440t/h'
          },
          plansSub: [{}]
        },
        {
          plans: [
            {
              img: pic1,
              location: 'A#破碎机',
              type: '25#3307'
            },
            {
              img: pic,
              location: '新线双转子',
              type: '12#3307'
            }
          ],
          forklifts: {
            id: '10#RH40',
            workStates: '作业',
            transport: '骨料',
            size: '中',
            trips: '7车',
            number: 'E:6.7/A:4',
            attribute: '240t/h'
          }
        },
        {
          plans: [
            {
              img: pic,
              location: '新线双转子',
              type: '12#3307'
            },
            {
              img: pic1,
              location: 'A#破碎机',
              type: '25#3307'
            }
          ],
          forklifts: {
            id: '5#CAT',
            workStates: '作业',
            transport: '骨料',
            size: '中',
            trips: '17车',
            number: 'E:3.5/A:3',
            attribute: '440t/h'
          }
        },
        {
          plans: [
            {
              img: pic1,
              location: 'A#破碎机',
              type: '25#3307'
            }
          ],
          forklifts: {
            id: '3#CAT',
            workStates: '备用',
            transport: '石灰石',
            size: '中',
            trips: '33车',
            number: 'E:0/A:0',
            attribute: '720t/h'
          }
        },
        {
          plans: [
            {
              img: pic,
              location: '新线双转子',
              type: '12#3307'
            }
          ],
          forklifts: {
            id: '7#690',
            workStates: '作业',
            transport: '石灰石',
            size: '中',
            trips: '20车',
            number: 'E:5.2/A:3',
            attribute: '440t/h'
          }
        }
      ]
    }
  }
}
</script>

<style>
h1 {
  text-align: center;
}
</style>
