<template>
  <div style="background-color: #0B1647;width:100%;height: 100%;">
    <div class="head">
      <CurrentTime />
      <el-button type="text" class="set" @click="chartsShow">两侧图表显示/隐藏</el-button>
      <div class="linkbox">
        <!-- 框 -->
        <div class="border-box">
          <!-- <p>css实现科技感边框</p> -->
          <router-link
            style="line-height:40px;font-size: 25px;text-align: center;"
            :to="{path: '/dashboard',
                  component: () => import('@/views/dashboard/index')}"
          >矿卡调度子系统</router-link>
        </div>
      </div>
      <h1>生产调度子系统</h1>
    </div>
    <!-- </div> -->
    <Map
      ref="updatemap"
      :mapData="mapData"
      :truckproduceData="truckproduceData"
      :shovelproduceData="shovelproduceData"
    />
    <div v-show="isShow" style="position:absolute;top:105px;bottom:10px;">

      <div style="position:relative;left:10px;">
        <div class="boxall" style="height: 18vw;width: 20vw;">
          <div class="alltitle" style="margin-left:5px;margin-bottom:10px;">当日挖掘统计（吨数）</div>
          <div style="height: 15vw;width: 20vw;margin-bottom:10px;padding-bottom:5px;padding-right: 10px">
            <PileSum
              :data="pilesumData"
            />
          </div>

        </div>

        <div class="boxall" style="height: 18vw;width: 20vw;">
          <div class="alltitle" style="margin-left:5px;margin-bottom:10px;">当日运输统计（吨数）</div>
          <div style="height: 16vw;width: 20vw;margin-bottom:10px;padding-right: 10px">
            <TruckSum
              :data="truckproduceData"
              style="padding-right: 10px"
            />
          </div>
        </div>
      </div>

    </div>

    <div v-show="isShow" style="position:absolute;text-align: center;top:75.5vh;height: 23vh;left:10px;width:99vw; background: rgba(0,0,0,.2);">

      <div class="alltitle" style="text-align:center">当日累计产量（吨数）</div>
      <AllProductionSum
        style="position:relative;top:0;height: 220px;"
      />

    </div>

    <div v-show="isShow" style="position:absolute;left: 80%;top:105px;width:19vw"> <!--距离最左边75%-->
      <div style="position:relative;left:10px;">
        <div class="boxall" style="height: 18vw;">
          <div class="alltitle" style="margin-left:5px;margin-bottom:10px;">矿卡设备状态</div>
          <truckStates
            :data="truckproduceData"
            style="text-align:center"
          />
          <!-- <ShovelStates
            :data="ShovelStatesData"
            style="width: 380px;height:400px"
          /> -->
        </div>
        <div class="boxall" style="height: 18vw;">
          <div class="alltitle" style="margin-left:5px;margin-bottom:10px;">铲车设备状态</div>
          <ShovelStates
            :data="shovelproduceData"
            style="text-align:center"
          />
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import { getPath } from '@/api/moveCar.js'
// import TruckSchePlan from './component/TruckSchePlan.vue'
// import TruckChart from './component/TruckChart.vue'
// import ManualScheduling from './component/ManualScheduling.vue'
// import DriverNeedList from './component/DriverNeedList.vue'
import CurrentTime from './component/CurrentTime.vue'
import Map from './component/Map.vue'
import PileSum from './component/PileSum.vue'
import TruckSum from './component/TruckSum.vue'
import AllProductionSum from './component/AllProductionSum.vue'
import TruckStates from '@/views/2dMap/component/TruckStates'
import ShovelStates from '@/views/2dMap/component/ShovelStates'
import truckService from '@/api/truck.js'

export default {
  components: {
    // TruckSchePlan,
    // ManualScheduling,
    // DriverNeedList,
    CurrentTime,
    Map,
    PileSum,
    TruckSum,
    AllProductionSum,
    TruckStates,
    ShovelStates
  },
  data() {
    return {
      demandListData: [],
      mapData: {},
      truckproduceData: {
        truckIdList: [],
        truckNameList: [],
        truckLocationList: [],
        loadCapacityList: [],
        driverIdList: [],
        driverNameList: [],
        truckOilList: [],
        startPointList: [],
        endPointList: [],
        curProgressList: [],
        truckStateList: [],
        distanceNoList: [],
        truckGradeList: [],
        fineContentList: [], // 粉矿含量
        kaolinContentList: [], // 高岭土含量
        hardnessList: [], // 矿石硬度
        transportOreList: [], // 当前矿石累计运输量
        transportRockList: [], // 当前废石累计运输量

        totalNum: 0, // 所有矿卡数量
        carryoreNum: 0, // 运矿数量
        carryrockNum: 0, // 运岩数量
        noloadNum: 0, // 空载
        freeNum: 0, // 空闲
        oilingNum: 0, // 加油
        repairNum: 0, // 维修
        queueNum: 0, // 装车排队
        loadingNum: 0, // 正在装车
        unloadingNum: 0 // 正在卸车
      },
      // truckStatesData: {
      //   totalNum: 0,
      //   carryoreNum: 0,
      //   carryrockNum: 0,
      //   noloadNum: 0,
      //   freeNum: 0,
      //   oilingNum: 0,
      //   repairNum: 0,
      //   queueNum: 0,
      //   loadingNum: 0,
      //   unloadingNum: 0,
      //   truckIdList: [],
      //   truckNameList: [],
      //   driverIdList: [],
      //   driverNameList: [],
      //   truckOilList: [],
      //   truckState: [],
      //   truckGrade: []
      // },
      shovelproduceData: {
        totalNum: 0,
        workNum: 0,
        freeNum: 0,
        oilingNum: 0,
        repairNum: 0,

        shovelIdLIst: [],
        shovelNameList: [],
        driverIdList: [],
        driverNameList: [],
        shovelStateList: [],
        shovelLocationList: []
      },
      pilesumData: {
        pileIdList: [],
        pileNameList: [],
        productionOreList: [],
        productionRockList: []
      },

      // dataList: '',
      // chart: null,
      path: [],
      isShow: true, // 加载时显示两侧图表
      timer: null
    }
  },

  // watch: {
  //   dataList() {
  //     this.$nextTick(( )=>{

  //     })
  //   }

  // },
  created() {
    this.setTimer()
  },

  mounted() {
    this.initCharts()
    this.startQueryData()
  },

  // 销毁时清除计时器
  beforeDestroy: function() {
    if (this.timer) {
      clearInterval(this.timer)
    }
  },
  methods: {
    chartsShow: function() {
      this.isShow = !this.isShow
      // console.log(this.isShow)
    },
    queryDemand() {
      const self = this
      truckService.getDriversdemand().then((res) => {
        if (!res.success) {
          console.log('错误' + res.info)
          return
        }
        self.demandListData = res.data
      })
      // this.testgetData()
    },
    queryMap() {
      const self = this
      truckService.getMap().then((res) => {
        if (!res.success) {
          console.log('错误' + res.info)
          return
        }
        // console.log('mapData' + res.data)
        self.mapData = res.data
      })
    },
    queryTruckproduce() {
      const self = this
      truckService.getTruckproduce().then((res) => {
        if (!res.success) {
          console.log('错误' + res.info)
          console.log('Truckproduce错误')
          return
        }
        self.setTruckproduceData(res.data)
      })
    },
    queryShovelproduce() {
      const self = this
      truckService.getShovelproduce().then((res) => {
        if (!res.success) {
          console.log('错误' + res.info)
          return
        }
        self.setShovelproduceData(res.data)
        // console.log('Shovelproduce')
        // console.log(res.data)
      })
    },
    queryPilesum() {
      const self = this
      truckService.getPilesum().then((res) => {
        if (!res.success) {
          console.log('错误' + res.info)
          return
        }
        self.setPilesumData(res.data)
      })
    },
    setTruckproduceData(truckProduceListData) {
      let totalNum = 0
      let carryoreNum = 0
      let carryrockNum = 0
      let noloadNum = 0
      let freeNum = 0
      let oilingNum = 0
      let repairNum = 0
      let queueNum = 0
      let loadingNum = 0
      let unloadingNum = 0
      const truckIdList = []
      const truckNameList = []
      const truckLocationList = []
      const loadCapacityList = []
      const driverIdList = []
      const driverNameList = []
      const truckOilList = []
      const startPointList = []
      const endPointList = []
      const curProgressList = []
      const truckStateList = []
      const distanceNoList = []
      const truckGradeList = []
      const fineContentList = []
      const kaolinContentList = []
      const hardnessList = []
      const transportOreList = []
      const transportRockList = []

      truckProduceListData.forEach(item => {
        totalNum++
        if (item.truckState === '运矿')carryoreNum++
        else if (item.truckState === '运岩')carryrockNum++
        else if (item.truckState === '空载')noloadNum++
        else if (item.truckState === '空闲')freeNum++
        else if (item.truckState === '加油')oilingNum++
        else if (item.truckState === '维修')repairNum++
        else if (item.truckState === '装车排队')queueNum++
        else if (item.truckState === '正在装车')loadingNum++
        else if (item.truckState === '正在卸车')unloadingNum++
        truckIdList.push(item.truckId)
        truckNameList.push(item.truckName)
        truckLocationList.push(item.location)
        loadCapacityList.push(item.loadCapacity)
        driverIdList.push(item.driverId)
        driverNameList.push(item.driverName)
        truckOilList.push(item.truckOil)
        startPointList.push(item.startPoint)
        endPointList.push(item.endPoint)
        curProgressList.push(item.curProgress)
        truckStateList.push(item.truckState)
        distanceNoList.push(item.distanceNo)
        truckGradeList.push(item.truckGrade)
        fineContentList.push(item.fineContent)
        kaolinContentList.push(item.kaolinContent)
        hardnessList.push(item.hardness)
        transportOreList.push(item.transportOre)
        transportRockList.push(item.transportRock)
        console.log('distanceNoList')
        console.log(distanceNoList)
        console.log('truckStateList')
        console.log(truckStateList)
      })
      this.truckproduceData = {
        totalNum: totalNum,
        carryoreNum: carryoreNum,
        carryrockNum: carryrockNum,
        noloadNum: noloadNum,
        freeNum: freeNum,
        oilingNum: oilingNum,
        repairNum: repairNum,
        queueNum: queueNum,
        loadingNum: loadingNum,
        unloadingNum: unloadingNum,
        truckIdList: truckIdList,
        truckNameList: truckNameList,
        truckLocationList: truckLocationList,
        loadCapacityList: loadCapacityList,
        driverIdList: driverIdList,
        driverNameList: driverNameList,
        truckOilList: truckOilList,
        startPointList: startPointList,
        endPointList: endPointList,
        curProgressList: curProgressList,
        truckStateList: truckStateList,
        distanceNoList: distanceNoList,
        truckGradeList: truckGradeList,
        fineContentList: fineContentList,
        kaolinContentList: kaolinContentList,
        hardnessList: hardnessList,
        transportOreList: transportOreList,
        transportRockList: transportRockList
      }
    },
    setPilesumData(pilesumListData) {
      const pileIdList = []
      const pileNameList = []
      const productionOreList = []
      const productionRockList = []

      pilesumListData.forEach(item => {
        pileIdList.push(item.pileId)
        pileNameList.push(item.pileName)
        productionOreList.push(item.productionOre)
        productionRockList.push(item.productionRock)
      })
      this.pilesumData = {
        pileIdList: pileIdList,
        pileNameList: pileNameList,
        productionOreList: productionOreList,
        productionRockList: productionRockList
      }
    },
    // setTruckstatesData(truckStateListData) {
    //   let totalNum = 0
    //   let carryoreNum = 0
    //   let carryrockNum = 0
    //   let noloadNum = 0
    //   let freeNum = 0
    //   let oilingNum = 0
    //   let repairNum = 0
    //   let queueNum = 0
    //   let loadingNum = 0
    //   let unloadingNum = 0

    //   const truckIdList = []
    //   const truckNameList = []
    //   const driverIdList = []
    //   const driverNameList = []
    //   const truckOilList = []
    //   const truckStateList = []
    //   const truckGradeList = []

    //   truckStateListData.forEach(item => {
    //     totalNum++
    //     if (item.truckState === '运矿')carryoreNum++
    //     else if (item.truckState === '运岩')carryrockNum++
    //     else if (item.truckState === '空载')noloadNum++
    //     else if (item.truckState === '空闲')freeNum++
    //     else if (item.truckState === '加油')oilingNum++
    //     else if (item.truckState === '维修')repairNum++
    //     else if (item.truckState === '装车排队')queueNum++
    //     else if (item.truckState === '正在装车')loadingNum++
    //     else if (item.truckState === '正在卸车')unloadingNum++
    //     truckIdList.push(item.truckId)
    //     truckNameList.push(item.truckName)
    //     driverIdList.push(item.driverId)
    //     driverNameList.push(item.driverName)
    //     truckOilList.push(item.truckOil)
    //     truckStateList.push(item.truckState)
    //     truckGradeList.push(item.truckGrade)
    //   })
    //   this.truckStatesData = {
    //     totalNum: totalNum,
    //     carryoreNum: carryoreNum,
    //     carryrockNum: carryrockNum,
    //     noloadNum: noloadNum,
    //     freeNum: freeNum,
    //     oilingNum: oilingNum,
    //     repairNum: repairNum,
    //     queueNum: queueNum,
    //     loadingNum: loadingNum,
    //     unloadingNum: unloadingNum,
    //     truckIdList: truckIdList,
    //     truckNameList: truckNameList,
    //     driverIdList: driverIdList,
    //     driverNameList: driverNameList,
    //     truckOilList: truckOilList,
    //     truckStateList: truckStateList,
    //     truckGradeList: truckGradeList
    //   }
    // },
    setShovelproduceData(shovelproduceListData) {
      let totalNum = 0
      let workNum = 0
      let freeNum = 0
      let oilingNum = 0
      let repairNum = 0
      const shovelIdLIst = []
      const shovelNameList = []
      const driverIdList = []
      const driverNameList = []
      const shovelStateList = []
      const shovelLocationList = []

      shovelproduceListData.forEach(item => {
        totalNum++
        if (item.shovelState === '工作')workNum++
        else if (item.shovelState === '空闲')freeNum++
        else if (item.shovelState === '加油')oilingNum++
        else if (item.shovelState === '维修')repairNum++
        shovelIdLIst.push(item.shovelId)
        shovelNameList.push(item.shovelName)
        driverIdList.push(item.driverId)
        driverNameList.push(item.driverName)
        shovelStateList.push(item.shovelState)
        shovelLocationList.push(item.location)
      })
      this.shovelproduceData = {
        totalNum: totalNum,
        workNum: workNum,
        freeNum: freeNum,
        oilingNum: oilingNum,
        repairNum: repairNum,
        shovelIdLIst: shovelIdLIst,
        shovelNameList: shovelNameList,
        driverIdList: driverIdList,
        driverNameList: driverNameList,
        shovelStateList: shovelStateList,
        shovelLocationList: shovelLocationList
      }
    },

    // async testgetData() {
    //   const res = await truckService.getDriversdemand()
    //   this.demandListData = res.data
    // },

    setDemandListData(demandListData) {
      const demandIdList = []
      const truckNameList = []
      const driverDemandList = []
      const handleState = []
      demandListData.forEach(item => {
        demandIdList.push(item.demand_id)
        truckNameList.push(item.truck_name)
        driverDemandList.push(item.driver_demand)
        handleState.push(item.handle_state)
      })
      this.demandListData = {
        demandIdList: demandIdList,
        truckNameList: truckNameList,
        driverDemandList: driverDemandList,
        handleState: handleState
      }
    },
    setMapData(mapData) {
      this.mapData = mapData
    },
    fetchData() {
      const self = this
      getPath().then((res) => {
        if (!res.success) {
          console.log('错误' + res.info)
          return
        }
        self.path = res.data
        // console.log(res.data)
      })
    },
    initCharts() {
      // this.$refs.TruckStates.initChart() 设置成ref  setOptions
    },
    startQueryData() {
      this.queryMap()
      this.fetchData() //
      this.queryDemand() // 司机请求
      this.queryTruckproduce() // 矿卡所有生产信息 地图中矿卡数据
      // this.queryTruckstates() // 矿卡设备状态
      this.queryShovelproduce() // 铲车设备状态
      this.queryPilesum() // 爆堆挖掘产量
      // this.queryTrucksum() // 运输统计信息
    },
    update() {
      // console.log('this.$ref.updatemap')
      // this.$ref.updatemap.setOptions()  //问题：updatemap无效
    },
    setTimer() {
      if (this.timer == null) {
        this.timer = setInterval(() => {
          this.queryTruckproduce()
          this.queryShovelproduce()
          this.update()
          console.log('开始定时')
        }, 10000)
      }
    }
  }
}
</script>
<style scoped>
* {
  margin: 0;
  padding: 0;
}

#main {
  width: 100%;
  height: 100vh;
  background-color: #ccc;
  position: relative;

  overflow: hidden;
}
::v-deep.dv-scroll-board .rows .ceil {
  background-color: #0B1647;
  color:#ccc;
  padding-left: 0%;
}
.flex {
  display: flex;
  align-items: flex-start;
}
.flex2 {
  margin-left: auto;
}
.boxall{ padding:10px;  background: rgba(0,0,0,.2); position: relative; margin-bottom: 10px;z-index: 10;}
.alltitle{ font-size:20px; color:#fff; position: relative; padding-left: 12px;margin-bottom: 10px;}
.head h1{ color:#fff; text-align: center; font-size:42px; line-height:90px;;}

/* .head{ height:105px; background: url(../assets/images/head_bg.png) no-repeat center center; position: relative} */
.weather{ position:absolute; right:30px; top:0; line-height: 60px;}
.weather span{color:rgba(255,255,255,.9)!important; font-size: 24px; }
.set{ position:absolute; left:30px; line-height: 60px; color:rgba(110,152,252,.9)!important; font-size: 24px; }
.linkbox{position:absolute; right:30px; top:60px; }
</style>
