<template>
  <dv-scroll-board
    :config="DriverNeedList"
    @click="driverNeed"
  />
</template>
<script>
// const scolldata = [
//   [1, "<span style='cursor:pointer;color:#ccc'>4#矿卡需要维修</span>", '待处理'],
//   [2, "<span style='cursor:pointer;color:#ccc'>3#矿卡突发状况</span>", '已处理'],
//   [3, "<span style='cursor:pointer;color:#ccc'>7#矿卡请求换班</span>", '待处理'],
//   [4, "<span style='cursor:pointer;color:#ccc'>6#矿卡需要维修</span>", '待处理'],
//   [5, "<span style='cursor:pointer;color:#ccc'>5#矿卡突发状况</span>", '已处理'],
//   [6, "<span style='cursor:pointer;color:#ccc'>1#矿卡请求换班</span>", '待处理']
// ]
export default {
  props: {
    data: Array
  },
  data() {
    return {
      DriverNeedList: {
        // indexHeader: '序号',
        // index: true,
        oddRowBGC: '#FFF', // 奇数行背景色
        evenRowBGC: '#f5f5f5', // 偶数行背景色
        headerBGC: '#6E98FC', // 表头背景色
        // header: ['单位名称', '本月督办次数'],
        rowNum: 6, // 表行数
        // headerHeight: 40,
        // columnWidth: [270],
        waitTime: 2000, // 轮播时间间隔(ms)
        hoverPause: true, // 悬浮暂停轮播
        columnWidth: [50],
        align: ['center', 'center', 'center'],
        data: []
      }
    }
  },
  watch: {
    data: {
      handler(newValue, oldValue) {
        if (oldValue !== newValue) {
          this.initCofig(newValue)
        }
      },
      deep: true
    }
  },
  mounted() {
  },
  methods: {
    initCofig(dataList) {
      const resultList = dataList.map(item => {
        return [item.demand_id, item.truck_name, item.driver_demand, item.handle_state]
      })
      this.DriverNeedList = {
        oddRowBGC: '#FFF', // 奇数行背景色
        evenRowBGC: '#f5f5f5', // 偶数行背景色
        headerBGC: '#6E98FC', // 表头背景色
        // header: ['单位名称', '本月督办次数'],
        rowNum: 6, // 表行数
        // headerHeight: 40,
        // columnWidth: [270],
        waitTime: 2000, // 轮播时间间隔(ms)
        hoverPause: true, // 悬浮暂停轮播
        columnWidth: [50],
        align: ['center', 'center', 'center'],
        data: resultList
      }
    },
    driverNeed(rows) {
      console.log(rows)
      if (rows.ceil.indexOf('span') !== -1) {
        const rowsdata = []
        for (let i = 0; i < this.DriverNeedList.data.length; i++) {
          if (i === rows.rowIndex) {
            const obj = {}
            obj.departid = this.DriverNeedList.data[rows.rowIndex]
            rowsdata.push(obj)
          }
        }
        console.log(rowsdata)
      }
    }
  }
}
</script>

<style>

</style>
