/* eslint-disable no-mixed-spaces-and-tabs */
<template>
  <el-dialog
    top="40px"
    width="50%"
    :modal="true"
    :title="title"
    append-to-body
    :visible.sync="dialogVisible"
    :modal-append-to-body="false"
    :close-on-click-modal="false"
  >
    <div id="dialogBox" />
  </el-dialog>
</template>

<script>
export default {
  data() {
    return {
      dialogVisible: false,
      title: ''
    }
  },
  methods: {
    show(title, val, id) {
      // title：弹出框 标题说明
      // val：  父组件中 echart的option数据
      // id：   自定义 id
      this.dialogVisible = true
      this.title = title
      this.$nextTick(() => {
        const divBox = document.getElementById('dialogBox')
        if (divBox.children && divBox.children.length === 1) {
          divBox.removeChild(divBox.children[0])
        }
        const divChild = document.createElement('div')
        divChild.setAttribute('id', id)
        divBox.appendChild(divChild)
        const echart = this.$echarts.init(document.getElementById(id))
        val.toolbox[0].feature.myTool.show = false
        echart.setOption(val)
        window.addEventListener('resize', () => {
          echart.resize()
        })
      })
    }
  }
}
</script>

<style>
  #dialogBox>div {
    width: 80%;
    height: 400px;
  }
</style>
