<template>
  <div id="main" />
</template>
<script>
import map from '@/assets/map/dixingtu11_Model.svg'
// import * as echarts from 'echarts'
// import $ from 'jquery'
var myChart = null
export default {
  props: {
    path: Array
  },
  data() {
    return {
    }
  },
  watch: {
    path: {
      handler(newValue, oldValue) {
        if (oldValue !== newValue) {
          this.coords = newValue
          this.setOptions(newValue)
          console.log(newValue)
        }
      },
      deep: true
    }
  },
  mounted() {
    // this.getmap()
    this.initChart()
  },
  methods: {
    initChart() {
      var mapDom = document.getElementById('main')
      //   var myChart = echarts.init(chartDom);
      myChart = echarts.init(mapDom, null, {
        renderer: 'canvas',
        useDirtyRect: false
      })
      this.setOptions(this.path)
    },
    setOptions(pathList) {
      var option
      $.get(map, function(svg) {
        // 首先向 echarts 注册 SVG 字符串或解析过的 SVG DOM
        echarts.registerMap('map', { svg: svg })
        option = {
          backgroundColor: '#000d4a',
          tooltip: {},
          geo: {
            map: 'map',
            roam: true,
            layoutCenter: ['50%', '50%'],
            layoutSize: '100%',
            regions: [
              {
                name: '1195m采矿工业场地b',
                itemStyle: {
                  borderColor: 'rgb(26,250,41)',
                  borderWidth: 1
                }
              }
            ],
            itemStyle: {
              normal: {
                borderType: 'solid',
                borderColor: 'rgb(1,84,120)',
                borderWidth: 3
              }
            }
          },
          toolbox: { // 配置工具箱组件
            show: true, // 设置是否显示工具箱组件
            orient: 'horizontal', // 设置布局方式，默认为水平布局，可选:'horizontal'¦'vertical'
            // 设置水平安放位置，默认为右对齐；
            // 可选:'center'¦'left'¦'right'¦{number}（x坐标，单位px）
            x: 'center',
            y: 'top',
            color: ['#1e90ff', '#22bb22', '#4b0082', '#d2691e'],
            backgroundColor: 'rgba(0,0,0,0)', // 设置工具箱背景颜色
            borderColor: '#ccc', // 设置工具箱边框颜色
            borderWidth: 0, // 设置工具箱边框线宽，单位px,默认为0（无边框）
            padding: 5, // 设置工具箱内边距，单位px，默认各方向内边距为5
            showTitle: true,
            feature: {
              mark: { // 设置标记
                show: true,
                title: {
                  mark: '辅助线-开关',
                  markUndo: '辅助线-删除',
                  markClear: '辅助线-清空'
                },
                lineStyle: { width: 1, color: '#1e90ff', type: 'dashed' }
              },
              restore: { // 设置数据重置
                show: true, title: '还原', color: 'black'
              },
              saveAsImage: { // 设置导出图片
                show: true, title: '保存为图片',
                type: 'jpeg', lang: ['单击本地保存']
              },
              myTool: { // 设置自定义工具按钮
                show: true, title: '自定义扩展方法',
                // 设置改变默认的图标为一个特定的图标
                // icon: 'image://../images/girl3.gif',

                icon: 'path://M733.549304 0l116.434359 116.23452-226.402521 226.40252 57.053835 57.068109 226.459617-226.445342 120.616689 120.41685V0H733.549304zM689.513507 619.855586l-57.068108 57.068109 224.232847 224.232847-122.64362 122.843458h293.676657V729.838022l-114.007751 114.207588-224.190025-224.190024zM338.197775 404.144414l57.068109-57.068109L171.033037 122.843458 293.676657 0H0v294.161978l114.022025-114.207588 224.17575 224.190024zM347.076305 624.294851L120.616689 850.754468 0 730.323343v293.676657h294.161978l-116.420084-116.23452 226.40252-226.40252-57.068109-57.068109z',
                onclick: (e) => {
                // this.$refs.echartFull.show('', e.getOption(), 'truckInfo')
                  var bigger = document.getElementById('truckInfochart')
                  console.log(bigger.style.width)
                  bigger.style.width = 600 + 'px'
                  console.log(bigger.style.width)
                }
              }
            }
          },
          series: [
            {
              name: 'Route',
              type: 'lines',
              coordinateSystem: 'geo',
              geoIndex: 0,
              emphasis: {
                label: {
                  show: false
                }
              },
              polyline: true,
              lineStyle: {
                color: '#c46e54',
                width: 0
              },
              effect: {
                show: true,
                period: 8,
                color: '#a10000',
                // constantSpeed: 80,
                trailLength: 0,
                symbolSize: [12, 30],
                symbol:
                    'path://M87.1667 3.8333L80.5.5h-60l-6.6667 3.3333L.5 70.5v130l10 10h80l10 -10v-130zM15.5 190.5l15 -20h40l15 20zm75 -65l-15 5v35l15 15zm-80 0l15 5v35l-15 15zm65 0l15 -5v-40l-15 20zm-50 0l-15 -5v-40l15 20zm 65,-55 -15,25 c -15,-5 -35,-5 -50,0 l -15,-25 c 25,-15 55,-15 80,0 z'
                // loop: false
              },
              z: 100,
              data: [
                {
                  name: 'Truck1',
                  effect: {
                    color: '#a10000',
                    constantSpeed: 60,
                    delay: 0
                  },
                  // coords: this.path
                  coords: pathList
                }
              ]

            }
          ]
        }
        myChart.setOption(option)
      })
      if (option && typeof option === 'object') {
        myChart.setOption(option)
      }

      window.addEventListener('resize', myChart.resize)
    },

    getmap() {
      var mapDom = document.getElementById('main')
      //   var myChart = echarts.init(chartDom);
      var myChart = echarts.init(mapDom, null, {
        renderer: 'canvas',
        useDirtyRect: false
      })
      var option
      $.get(map, function(svg) {
        // 首先向 echarts 注册 SVG 字符串或解析过的 SVG DOM
        echarts.registerMap('map', { svg: svg })
        option = {
          backgroundColor: '#000d4a',
          tooltip: {},
          geo: {
            map: 'map',
            roam: true,
            layoutCenter: ['50%', '50%'],
            layoutSize: '100%',
            regions: [
              {
                name: '1195m采矿工业场地b',
                itemStyle: {
                  borderColor: 'rgb(26,250,41)',
                  borderWidth: 1
                }
              }
            ],
            itemStyle: {
              normal: {
                borderType: 'solid',
                borderColor: 'rgb(1,84,120)',
                borderWidth: 3
              }
            }
          },
          toolbox: { // 配置工具箱组件
            show: true, // 设置是否显示工具箱组件
            orient: 'horizontal', // 设置布局方式，默认为水平布局，可选:'horizontal'¦'vertical'
            // 设置水平安放位置，默认为右对齐；
            // 可选:'center'¦'left'¦'right'¦{number}（x坐标，单位px）
            x: 'center',
            y: 'top',
            color: ['#1e90ff', '#22bb22', '#4b0082', '#d2691e'],
            backgroundColor: 'rgba(0,0,0,0)', // 设置工具箱背景颜色
            borderColor: '#ccc', // 设置工具箱边框颜色
            borderWidth: 0, // 设置工具箱边框线宽，单位px,默认为0（无边框）
            padding: 5, // 设置工具箱内边距，单位px，默认各方向内边距为5
            showTitle: true,
            feature: {
              mark: { // 设置标记
                show: true,
                title: {
                  mark: '辅助线-开关',
                  markUndo: '辅助线-删除',
                  markClear: '辅助线-清空'
                },
                lineStyle: { width: 1, color: '#1e90ff', type: 'dashed' }
              },
              restore: { // 设置数据重置
                show: true, title: '还原', color: 'black'
              },
              saveAsImage: { // 设置导出图片
                show: true, title: '保存为图片',
                type: 'jpeg', lang: ['单击本地保存']
              },
              myTool: { // 设置自定义工具按钮
                show: true, title: '自定义扩展方法',
                // 设置改变默认的图标为一个特定的图标
                // icon: 'image://../images/girl3.gif',

                icon: 'path://M733.549304 0l116.434359 116.23452-226.402521 226.40252 57.053835 57.068109 226.459617-226.445342 120.616689 120.41685V0H733.549304zM689.513507 619.855586l-57.068108 57.068109 224.232847 224.232847-122.64362 122.843458h293.676657V729.838022l-114.007751 114.207588-224.190025-224.190024zM338.197775 404.144414l57.068109-57.068109L171.033037 122.843458 293.676657 0H0v294.161978l114.022025-114.207588 224.17575 224.190024zM347.076305 624.294851L120.616689 850.754468 0 730.323343v293.676657h294.161978l-116.420084-116.23452 226.40252-226.40252-57.068109-57.068109z',
                onclick: (e) => {
                // this.$refs.echartFull.show('', e.getOption(), 'truckInfo')
                  var bigger = document.getElementById('truckInfochart')
                  console.log(bigger.style.width)
                  bigger.style.width = 600 + 'px'
                  console.log(bigger.style.width)
                }
              }
            }
          },
          series: [
            {
              name: 'Route',
              type: 'lines',
              coordinateSystem: 'geo',
              geoIndex: 0,
              emphasis: {
                label: {
                  show: false
                }
              },
              polyline: true,
              lineStyle: {
                color: '#c46e54',
                width: 0
              },
              effect: {
                show: true,
                period: 8,
                color: '#a10000',
                // constantSpeed: 80,
                trailLength: 0,
                symbolSize: [12, 30],
                symbol:
                    'path://M87.1667 3.8333L80.5.5h-60l-6.6667 3.3333L.5 70.5v130l10 10h80l10 -10v-130zM15.5 190.5l15 -20h40l15 20zm75 -65l-15 5v35l15 15zm-80 0l15 5v35l-15 15zm65 0l15 -5v-40l-15 20zm-50 0l-15 -5v-40l15 20zm 65,-55 -15,25 c -15,-5 -35,-5 -50,0 l -15,-25 c 25,-15 55,-15 80,0 z'
                // loop: false
              },
              z: 100,
              data: [
                {
                  name: 'Truck1',
                  effect: {
                    color: '#a10000',
                    constantSpeed: 60,
                    delay: 0
                  },
                  // coords: this.path
                  coords: [
                    [559.587, 26.5497],
                    [559.587, 26.5497],
                    [544.805, 22.5726]
                    // [533.433, 20.8682],
                    // [524.621, 22.5726],
                    // [520.357, 29.6746],
                    // [523.199, 41.6059],
                    // [532.865, 52.4009],
                    // [542.53, 61.2074],
                    // [551.627, 69.1616],
                    // [562.146, 75.1273],
                    // [572.095, 81.6611],
                    // [583.182, 89.0472],
                    // [594.269, 95.581],
                    // [602.513, 105.24],
                    // [613.884, 112.342],
                    // [624.971, 119.16],
                    // [634.637, 126.83],
                    // [646.576, 134.5],
                    // [660.506, 140.181],
                    // [677.278, 148.704],
                    // [690.639, 154.954],
                    // [698.883, 162.34],
                    // [696.893, 170.01],
                    // [678.984, 170.294],
                    // [664.486, 169.157],
                    // [646.576, 165.464],
                    // [624.402, 159.783],
                    // [603.65, 151.829],
                    // [584.319, 142.17],
                    // [566.978, 132.511],
                    // [552.764, 125.409],
                    // [538.835, 120.864],
                    // [524.052, 117.739],
                    // [509.27, 114.33],
                    // [497.046, 110.069],
                    // [484.538, 104.103],
                    // [470.039, 97.2855],
                    // [457.816, 90.7516],
                    // [446.16, 84.786],
                    // [435.926, 81.6611],
                    // [418.301, 77.684],
                    // [401.528, 77.9681],
                    // [390.157, 82.5133],
                    // [384.187, 91.0357],
                    // [386.746, 97.2855],
                    // [396.127, 104.387],
                    // [408.067, 106.944],
                    // [420.007, 112.91],
                    // [432.23, 117.455],
                    // [444.454, 123.989],
                    // [457.247, 131.375],
                    // [468.902, 139.897],
                    // [483.969, 146.715],
                    // [500.173, 153.249],
                    // [515.24, 160.351],
                    // [530.17, 172.696],
                    // [541.87, 187.266],
                    // [554.651, 198.958],
                    // [566.53, 209.602],
                    // [578.123, 218.001],
                    // [589.137, 226.98],
                    // [601.599, 232.193],
                    // [616.96, 236.827],
                    // [633.77, 237.696],
                    // [654.637, 238.275],
                    // [669.162, 241.574],
                    // [684.578, 248.543],
                    // [699.993, 259.73],
                    // [713.941, 268.349],
                    // [731.947, 276.873],
                    // [757.309, 282.975],
                    // [771.868, 293.769],
                    // [783.61, 306.91],
                    // [786.897, 326.622],
                    // [783.61, 343.987],
                    // [759.188, 333.662],
                    // [739.462, 319.113],
                    // [718.797, 305.033],
                    // [700.48, 294.708],
                    // [676.997, 281.567],
                    // [655.393, 269.833],
                    // [639.894, 274.527],
                    // [618.29, 279.689],
                    // [595.747, 277.812],
                    // [573.203, 268.895],
                    // [547.841, 253.407],
                    // [524.765, 238.634],
                    // [510.201, 229.821],
                    // [499.038, 223.021],
                    // [488.255, 216.519],
                    // [475.8, 209.088],
                    // [462.787, 203.887],
                    // [450.454, 201.321],
                    // [432.851, 197.043],
                    // [417.979, 193.146],
                    // [398.484, 191.017],
                    // [382.683, 189.581],
                    // [360.657, 190.538],
                    // [338.631, 192.931],
                    // [321.393, 198.194],
                    // [305.113, 202.979],
                    // [303.198, 210.635],
                    // [306.071, 223.075],
                    // [317.563, 223.554],
                    // [337.194, 219.726],
                    // [356.347, 217.812],
                    // [376.937, 219.726],
                    // [392.738, 223.075],
                    // [409.975, 225.946],
                    // [426.255, 234.081],
                    // [443.493, 239.344],
                    // [461.688, 247.478],
                    // [477.011, 256.57],
                    // [494.727, 266.139],
                    // [512.444, 279.058],
                    // [528.724, 291.978],
                    // [538.3, 304.418],
                    // [554.58, 314.945],
                    // [571.339, 321.644],
                    // [590.971, 329.3],
                    // [612.518, 339.826],
                    // [625.446, 349.875],
                    // [621.615, 359.444],
                    // [600.547, 364.229],
                    // [584.746, 363.272],
                    // [562.241, 361.837],
                    // [536.385, 358.966],
                    // [517.232, 355.138],
                    // [498.558, 346.525],
                    // [480.362, 341.262],
                    // [460.252, 334.563],
                    // [441.099, 330.735],
                    // [428.171, 335.999],
                    // [418.594, 343.654],
                    // [421.467, 351.789],
                    // [433.917, 357.052],
                    // [453.152, 363.653],
                    // [475.392, 371.383],
                    // [492.797, 383.462],
                    // [509.235, 391.675],
                    // [528.574, 401.821],
                    // [536.793, 414.382],
                    // [541.378, 436.04],
                    // [537.473, 459.456],
                    // [524.292, 475.554],
                    // [514.529, 488.238],
                    // [510.124, 510.37],
                    // [511.972, 530.076],
                    // [510.623, 535.882],
                    // [510.623, 535.882]
                  ]
                }
              ]

            }
          ]
        }
        myChart.setOption(option)
      })
      if (option && typeof option === 'object') {
        myChart.setOption(option)
      }

      window.addEventListener('resize', myChart.resize)
    }

  }

}
</script>
