<template>
  <div class="my_table">
    <el-table :data="tableData" row-key="title" height="800px" color="#0B1647">
      <el-table-column align="center" label="矿卡编号" prop="id" />
      <!-- <el-table-column width="20px" /> -->
      <el-table-column prop="load" label="装载点" />
      <el-table-column label="当前进度">
        <template #default="{ row }">
          <el-progress :percentage="row.percentage" :color="row.color" />
        </template>
      </el-table-column>
      <el-table-column prop="unload" label="卸载点" />
    </el-table>
  </div>
</template>
<script>
import Sortable from 'sortablejs'
export default {
  data() {
    return {
      tableData: [
        {
          id: '1#矿卡',
          load: '1#采矿点',
          unload: '1#破碎站',
          percentage: 50,
          color: '#95de64'
        },
        {
          id: '2#矿卡',
          load: '2#采矿点',
          unload: '2#破碎站',
          percentage: 8,
          color: '#69c0ff'
        },
        {
          id: '3#矿卡',
          load: '3#采矿点',
          unload: '3#破碎站',
          percentage: 76,
          color: '#1890FF'
        },
        {
          id: '4#矿卡',
          load: '1#破碎站',
          unload: '3#采矿点',
          percentage: 100,
          color: '#ffc069'
        },
        {
          id: '5#矿卡',
          load: '2#破碎站',
          unload: '2#采矿点',
          percentage: 25,
          color: '#5cdbd3'
        },
        {
          id: '6#矿卡',
          load: '3#破碎站',
          unload: '#采矿点',
          percentage: 1,
          color: '#b37feb'
        }
      ]
    }
  },
  mounted() {
    const tbody = document.querySelector('.el-table__body-wrapper tbody')
    const _this = this
    var id = setInterval(() => {
      for (var a = 0; a < this.tableData.length; a++) {
        this.tableData[a].percentage += 1
        if (this.tableData[a].percentage > 100) {
          this.tableData[a].percentage = 0
        }
      }
    }, 1000)
    Sortable.create(tbody, {
      onEnd({ newIndex, oldIndex }) {
        const currRow = _this.tableData.splice(oldIndex, 1)[0]
        _this.tableData.splice(newIndex, 0, currRow)
      }
    })
  }
}
</script>

<style>
.my_table >>> .el-table__row>td{
  /* 去除表格线 */
  border: none;
}
</style>
