<template>
  <div id="chart-truck" style="width:400px;height:500px" />
</template>
<script>

export default {
  data() {
    return {
    }
  },
  mounted() {
    // 矿卡图表信息
    this.initTruckChart()
  },
  methods: {
    GetTruckChart() {
      // const myChart = this.$echarts.init(this.$refs.TruckChart)
      var dom = document.getElementById('chart-truck')
      var myChart = echarts.init(dom, null, {
        renderer: 'canvas',
        useDirtyRect: false
      })

      var option

      const colors = ['#5470C6', '#91CC75', '#EE6666']
      option = {
        color: colors,
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'cross'
          }
        },
        toolbox: {
          feature: {
            dataView: { show: true, readOnly: false },
            restore: { show: true },
            saveAsImage: { show: true }
          }
        },
        legend: {
          data: ['Evaporation', 'Precipitation', 'Temperature']
        },
        xAxis: [
          {
            type: 'category',
            axisTick: {
              alignWithLabel: true
            },
            // prettier-ignore
            data: ['1#矿卡——张三', 'Feb', 'Mar', 'Apr', 'May']
          }
        ],
        yAxis: [
          {
            type: 'value',
            name: '油量',
            position: 'left',
            alignTicks: true,
            axisLine: {
              // show: true,
              lineStyle: {
                color: colors[0]
              }
            },
            axisLabel: {
              formatter: '{value} L'
            }
          },
          {
            type: 'value',
            name: '品位',
            position: 'right',
            alignTicks: true,
            min: 0.0, max: 1.0,
            axisLine: {
              // show: true,
              lineStyle: {
                color: colors[1]
              }
            },
            axisLabel: {
              formatter: '{value} '
            }
          }
        ],
        series: [
          {
            name: '油量',
            type: 'bar',
            label: {
              normal: {
                show: true,
                position: 'top'
              }
            },
            yAxisIndex: '0', // 使用第一个y轴，序号从0开始
            data: [
              600, 1200, 100, 700, 500
            ]
          },
          {
            name: '品位',
            type: 'line',
            label: {
              normal: {
                show: true,
                position: 'top'
              }
            },
            yAxisIndex: 1,
            data: [0.2, 0.9, 0.8, 0.5, 0.6]
          }
        ]
      }

      if (option && typeof option === 'object') {
        myChart.setOption(option)
      }

      window.addEventListener('resize', myChart.resize)
    },
    initTruckChart() {
      // 新建一个promise对象
      const newPromise = new Promise((resolve) => {
        resolve()
      })
      // 然后异步执行echarts的初始化函数
      newPromise.then(() => {
      //	此dom为echarts图标展示dom
        this.GetTruckChart()
      })
    }
  }
}
</script>

<style>

</style>
